<div class="container main_index_container">
  <div class="row">
    <div class="col-xs-8">
      <h2>Resend confirmation instructions</h2>

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
        </div>

        <div class="form-group">
          <%= f.submit "Resend confirmation instructions", :class => "btn btn-primary" %>
          <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
