<div class="col-xs-12 col-sm-4" id="rating-side">
  <% if thin.yelp_rating && thin.yelp_rating > 0 %>
    <div  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="my-small-rating">
      <meta itemprop="ratingValue" content="<%= thin.yelp_rating %>" />
      <meta itemprop="reviewCount" content="<%= thin.yelp_review_count %>" />
      <div data-phone="<%= thin.phone_number %>" data-lng="<%= thin.location["lon"] %>" data-city="<%= thin.city %>" data-yelp_id="<%= @thin.yelp_id ? @thin.yelp_id : false %>" data-state="<%= thin.state %>" data-addr1="<%= thin.street_address %>" data-thin_id="<%= thin.id %>" data-lat="<%= thin.location["lat"]%>" class="yelp_rating_widget" data-update="<%= (thin.yelp_reviews_updated_at.nil? || thin.yelp_reviews_updated_at < 1.month.ago) ? true : false %>">
        <%= yelp_rating(thin) %>
      </div>
    </div>
  <% else %>
     <div data-phone="<%= thin.phone_number %>" data-lng="<%= thin.location["lon"] %>" data-city="<%= thin.city %>" data-state="<%= thin.state %>" data-addr1="<%= thin.street_address %>" data-thin_id="<%= thin.id %>" data-update="<%= (thin.yelp_reviews_updated_at.nil? || thin.yelp_reviews_updated_at < 1.month.ago) ? true : false %>" data-lat="<%= thin.location["lat"]%>" class="yelp_rating_widget" data-update="true">
     </div>
  <% end %>
  <% if thin.city_reviews.present? %>
    <div data-phone="<%= thin.phone_number %>" data-lng="<%= thin.location["lon"] %>" data-city="<%= thin.city %>" data-state="<%= thin.state %>" data-addr1="<%= thin.street_address %>" data-thin_id="<%= thin.id %>" data-client_ip="<%= request.remote_ip %>" data-publisher="<%= CITY_PUBLISHER %>" data-lat="<%= thin.location["lat"]%>" class="city_rating_widget" data-update="<%= (thin.city_reviews_updated_at.nil? || thin.city_reviews_updated_at < 1.month.ago) ? true : false %>">
      <%= city_rating(thin) %>
    </div>
  <% else %>
     <div data-phone="<%= thin.phone_number %>" data-lng="<%= thin.location["lon"] %>" data-city="<%= thin.city %>" data-state="<%= thin.state %>" data-addr1="<%= thin.street_address %>" data-thin_id="<%= thin.id %>" data-client_ip="<%= request.remote_ip %>" data-publisher="<%= CITY_PUBLISHER %>" data-lat="<%= thin.location["lat"]%>" class="city_rating_widget" data-update="<%= (thin.city_reviews_updated_at.nil? || thin.city_reviews_updated_at < 1.month.ago) ? true : false %>">
     </div>
  <% end %>
  <% if thin.google_reviews.present? %>
  <% else %>
    <div data-phone="<%= thin.phone_number %>" data-lng="<%= thin.location["lon"] %>" data-city="<%= thin.city %>" data-state="<%= thin.state %>" data-addr1="<%= thin.street_address %>" data-thin_id="<%= thin.id %>" data-lat="<%= thin.location["lat"]%>" class="google_rating_widget" data-update="true">
    </div>
  <% end %>
  <% if @recommended %>
    <%= link_to "Recommended", (@thin.slug_path()), :class => "btn btn-zomato-gray bold", :disabled => "disabled" %>
  <% else %>
    <%= link_to "Recommend", (@thin.slug_path()+"?recommend=true"), :class => "btn btn-zomato-gray bold" %>
  <% end %>
  <% if @bookmarked %>
    <%= link_to "Bookmarked", (@thin.slug_path()), :class => "btn btn-zomato-gray bold", :disabled => "disabled" %>
  <% else %>
    <%= link_to "Bookmark", (@thin.slug_path()+"?bookmark=true"), :class => "btn btn-zomato-gray bold" %>
  <% end %>
</div>