<% content_for :title, "#{@thin.name}, #{@thin.service.name}: #{@thin.city || cookies[:city]}, #{@thin.state || cookies[:state]} - #{SITENAME} " %>
<% content_for :description, "Checkout #{@thin.service.name} from #{@thin.name} in #{params[:city]}, #{params[:state]}. - More Information on #{SITENAME}" %>
<div class="">
  <div class="container  main_index_container">
    <%#= render :partial => "shared/orange_filter" %>
    <div class="row">
      <div class="col-xs-12" style="margin-top: 20px;">
        <ol class="breadcrumb">
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><%= link_to ("<span itemprop='title'>" + dstate + ", " + dcity + "</span>").html_safe, deals_path(:state => dstate, :city => dcity), :itemprop => "url", :title => "More deals in #{dcity}, #{dstate}" %>
          </li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <%= link_to ("<span itemprop='title'>" + @thin.service.name + "</span>").html_safe, service_deals_path(:state => dstate, :city => dcity, :service => @thin.service.name), :itemprop => "url", :title => "More #{@thin.service.name} deals in #{dcity}, #{dstate}" %>
          </li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
            <meta itemprop="url" content="<%= request.url %>" />
            <meta itemprop="title" content="Book Apoointment on <%= SITENAME %>" />
            <%= @thin.name %>
          </li>
        </ol>  
      </div>
      <div itemscope itemtype="http://schema.org/LocalBusiness"  class="col-xs-12">
        <meta itemprop="currenciesAccepted" content="USD">
        <meta itemprop="priceRange" content="<%= @thin.try(:price_range) == '$' ? '$' : '$$' %>" />
        <div class="main_page_deal white_container" id="deals_container">
          <div class="row with_border clearfix">
            <div class="col-xs-12 col-sm-3" >
              <div  class="text-center" style="padding-left: 10px; margin-bottom: 12px;">
                <%= image_tag @thin.service.image_url.sample.gsub("medium", "thumb"), :class => "img-thumbnail img-responsive", :itemprop => "logo" , :title => (@thin.service.name + " from " + @thin.name), :alt => ("Request appointment for " + @thin.service.name + " from " + @thin.name) %>
              </div>
              <div class="text-center">
                <%= render :partial => "shared/thin_share_bar", :locals => {:thin => @thin} %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5">
              <div class="deal_info">
                <h1 class="bold margin-0 margin-bottom-5">
                  <%= "#{@thin.name}" %>
                </h1>
                <div  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <p>
                    <% if @thin.street_address.present? %>
                      <span class="medium_text" itemprop="streetAddress"><%= @thin.street_address %></span><br />
                    <% end %>
                    <% if @thin.neighborhoods.present? %>
                      <span class='medium_text'><%= @thin.neighborhoods.join(", ") %></span><br />
                    <% end %>
                    <%= thin_region_details(@thin) %>
                    <br />                    
                    <% if @thin.website.present? %>
                      <meta itemprop="url" content="<%= @thin.website %>">
                      <%= link_to @thin.website, @thin.website , :target => "_blank", :class => "medium_text" %><br/>
                    <% end %>
                    <% if @thin.phone_number.present? %>
                      <span class='medium_text'>Phone: <span itemprop="telephone" class='medium_text'><%= @thin.phone_number %></span></span><br />
                    <% end %>
                    <div class="hidden" itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                      <meta content="37.773086" itemprop="latitude">37.773086
                      <meta content="-122.39499" itemprop="latitude">-122.39499
                    </div>
                    <% if @thin.parking.present? %>
                      <span class='medium_text'>Parking: <%= @thin.parking %></span><br />
                    <% end %>
                    <% if @thin.price_range.present? %>
                      <span class='medium_text'>Price Range: <%= @thin.price_range%></span><br/>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>

            <%= render :partial => "ratings" , :locals => {:thin => @thin} %>
             </div> <!-- TODO This div is don't know why it ended here -->
            
          </div>
          
         

          <div class="row with_border">
            <div class="col-xs-6">
              <h3 class="medium_heading strong margin-top-0">Offerings</h3>
              <h2 class="medium_text"><%= @thin.all_services.to_sentence %></h2>
            </div>
            <% if @thin.hours.present? %>
              <% hours =  @thin.hours.class == String ? [@thin.hours] : @thin.hours %>
              <meta itemprop="openingHours" content="<%= hours.join(", ") %>">
              <div class="col-xs-6">
                <h3 class="medium_heading strong margin-top-0">Hours</h3>
                <ul class="list-unstyled">
                  <%= hours.map{|h| "<li class='medium_text'>#{h}</li>"}.join("\n").html_safe %>
                </ul>
              </div>
            <% elsif @thin.yp_hours.present? %>
              
              <meta itemprop="openingHours" content="<%= @thin.yp_hours.join(", ") %>">
              <div class="col-xs-6">
                <h3 class="medium_heading strong margin-top-0">Hours</h3>
                <ul class="list-unstyled">
                  <%= @thin.yp_hours.map{|h| "<li class='medium_text'>#{h.titleize}</li>"}.join("\n").html_safe %>
                </ul>
              </div>
            <% end %>
          </div>

          <% if @thin.yp_general_info.present?  %>
            <div class="row with_border">
              <div class="col-xs-12">
                 <h3 class="medium_heading strong margin-top-0">About <%= @thin.name %></h3>
                <p class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.yp_general_info %>
                </p>
              </div>
            </div>
          <% end %>
          <% if @thin.about.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                 <h3 class="medium_heading strong margin-top-0">About <%= @thin.name %></h3>
                <p class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.about %>
                </p>
              </div>
            </div>
          <% elsif !@thin.yp_general_info.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                 <h3 class="medium_heading strong margin-top-0">About <%= @thin.name %></h3>
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.content %>
                </h3>
              </div>
            </div>
          <% end %>

          <% if @thin.location_description.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                <h3 class="medium_heading strong margin-top-0">Location</h3>
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.location_description %>
                </h3>
              </div>
            </div>
          <% end %>

          <% if @thin.accreditations.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                <h3 class="medium_heading strong margin-top-0">Accreditations</h3>
                <meta itemprop="accreditations" content="<%= @thin.accreditations %>">
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.accreditations %>
                </h3>
              </div>
            </div>
          <% end %>

          <% if @thin.amenities.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                <h3 class="medium_heading strong margin-top-0">Amenities</h3>
                <meta itemprop="amenities" content="<%= @thin.amenities %>">
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.amenities %>
                </h3>
              </div>
            </div>
          <% end %>

          <% if @thin.brands.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                <h3 class="medium_heading strong margin-top-0">Brands</h3>
                <meta itemprop="brands" content="<%= @thin.brands.join(", ") %>">
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.brands.join(", ") %>
                </h3>
              </div>
            </div>
          <% end %>

          <% if @thin.payments.present? %>
            <div class="row with_border">
              <div class="col-xs-12">
                <h3 class="medium_heading strong margin-top-0">Payments</h3>
                <meta itemprop="payments" content="<%= @thin.payments %>">
                <h3 class="medium_text line-height-medium margin-bottom-5">
                  <%= @thin.payments %>
                </h3>
              </div>
            </div>
          <% end %>

          <div class="row with_border">
            <div class="col-xs-12">
              <h3 class="medium_heading strong margin-top-0 margin-bottom-10">Directions</h3>
              <div data-lat="<%= @thin.location['lat'] || @thin.location[:lat]  %>" data-lng="<%= @thin.location['lon'] || @thin.location[:lon] %>" id="map-canvas">
              </div>
            </div>
          </div>

          <div class="row with_border">
            <%= render :partial => "deals/reviews" %>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
<% if params[:recommend] && @recommendation %>
  <%= render :partial => "recommendations/recommend_commect_modal", :locals => {:recommendation => @recommendation, :thin => @thin} %>
<% end %>