<div role="dialog" aria-labelledby="Recommendation" aria-hidden="true" id="recommendation_text_modal" class="my-modal modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-left">Thanks for recommending <%= thin.name %>. Have something good to say about the business?</h3>
      </div>
      <div class="modal-body">
        <%= form_for(recommendation, :role => "form", :remote => true) do |f| %>
          <div class="form-group">
            <%= f.text_area :rtext, :autofocus => true, :class => "form-control required", :placeholder => "Write few words here"  %>
          </div>

          <div class="form-group clearfix margin-bottom-0">
            <p class="pull-right btn"><%= link_to "<span class='text-muted'>or</span> Cancel".html_safe, "", :"data-dismiss" => "modal" %></p>
            <%= f.submit "Done", :class => "btn btn-primary pull-right", data: {:disable_with => "Submitting.."} %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer margin-top-0">
        <%= link_to "Skip this step", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->