<li itemscope itemtype="http://schema.org/LocalBusiness" class="deal_blk" id="deal<%= thin.id %>">
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemprop="streetAddress" content="<%= thin.street_address %>">
    <meta itemprop="addressLocality" content="<%= thin.city %>">
    <meta itemprop="addressRegion" content="<%= thin.state %>">
    <meta itemprop="postalCode" content="<%= thin.zip %>">
    <meta itemprop="telephone" content="<%= thin.phone_number %>">
    <meta itemprop="url" content="<%= thin.website %>">
  </span>
  <div class="image">
    <% thin_image = thin.service.image_url.try(:sample) || "" %>
    <% thin_image = thin_image.gsub("medium", "slate_black") %>
    <%= image_tag "http://placehold.it/230x138/09f/fff&text=Image Loading..", :'data-original' =>  thin_image, :class => "lazy deal_image", :alt => thin.name %>
    <noscript><%= image_tag thin_image, :alt => thin.name, :class => "deal_image" %></noscript>
    <div class="hidden-xs">
      <div class="layer">
        <%= render :partial => "shared/thin_share_bar", :locals => {:thin => thin} %>
      </div>
    </div>
  </div>

  <div class="deal_info">
    <h3 class="margin-bottom-0 small_heading margin-bottom-0">
      <span class="bold dblock"><%= thin.name %></span>
      <span class="service"><%= thin.service.name %></span>
    </h3>

    <p class="address text-left margin-bottom-0 text-muted">
      <%= thin.full_address %>
    </p>
    <% if thin.neighborhoods.present? %>
      <p class="text-left margin-bottom-0 text-muted">
        <%= thin.neighborhoods.slice(0,2).join(", ") %>
      </p>
    <% end %>
    <% if thin.recommendations_count > 1 %>
      <p class="address text-left margin-bottom-0 text-muted">
        <em>Recommended by  <strong><%= thin.recommendations_count - 1 %></strong> other <%= (thin.recommendations_count - 1) > 1 ? " users" : " user" %></em> [ <%= link_to "view", thin.slug_path %> ]
      </p>
    <% end %>

    <% if thin.bookmarks_count > 0 %>
      <p class="address text-left margin-bottom-0 text-muted">
        <em>Bookmarked by  <strong><%= thin.bookmarks_count %></strong> <%= thin.bookmarks_count > 1 ? " users" : " user" %></em> [ <%= link_to "view", thin.slug_path %> ]
      </p>
    <% end %>
    <div class="clearfix">
      <ul class="text-left list-inline margin-bottom-5 tile-links">
        <li>
          <%= link_to "View More", thin.slug_path, :class => "slug" %>
        </li>
        <% if thin.website.present? %>
          <li>
            | <%= link_to 'Website', thin.website, :target => "_blank" %>
          </li>
        <% end %>
        <li class="dblock" style=""><%= link_to_iframe "Request Appointment", thin.my_slug_path(thin.service.name, thin.service.category.name), :class => "text-left" %></li>
      </ul>
    </div>

    

    <% yelpr = yelp_rating(thin) %>
    <% cityr = city_rating(thin) %>
    
      <div class="bottom-price text-left">
  <!--       <%# if thin.min_price %>
          <div class="col-xs-12"><strong><%#= "$#{thin.min_price}" %></strong></div>
        <%# end %> -->
        <%= yelpr %>
        <%= cityr %>
      </div>
   
    <!-- <p class="small_text text-left text-muted"><span class="strong">Note:</span> Request appointment to know prices.</p> -->
    <div class="text-left bottom-info">
      
      <!-- <div  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="my-small-rating">
        <meta itemprop="ratingValue" content="" />
        <meta itemprop="reviewCount" content="" />
        <div>
          <a href="">
            <div class="small-star-yellow small-star-">
              
            </div>
            <div class="my_review_count">()</div>
          </a>
          <a href="#myrating">
            <div class="mytime-rating-logo"></div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</li>