<div id="index-page">
  <section class="gray-back" id="top-gray">
    <div class="container">
      <div class="row" >
        
        <div class="col-xs-8 ">
          
          <h1 class="large_heading padding-left-0 bold margin-top-0 margin-bottom-0">
            Recommendations By You
          </h1>
          <p class="text-muted">
            <em><span class="strong"><%= @total_entries %></span> businesses recommended by you</em>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <% if  @recommendations.empty? %>
          <p class="text-center small_heading text-muted">
            Oh No! You have not recommended anything yet.
          </p>
        <% end %>
        <div id="deals_container">
          <ul class="list-inline" id="deals_list">
            <% @recommendations.each do |recommendation| %>
              <%= render :partial => "thin", :locals => {:thin => recommendation.thin_merchant, :recommendation => recommendation} %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="text-center col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <%= will_paginate @recommendations %>
      </div>

    </div>

  </div>
</div>