<% content_for :title, "LOGIN on #{SITENAME}" %>
<% content_for :description, "LOGIN now to get access to To Businesses in US #{SITENAME}" %>
<div class="container main_index_container">
  <div class="row">
    <div class="col-xs-8">
      <h2>LOGIN</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => "form") do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email"  %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Sign in", :class => "btn btn-primary" %> <span class="text-muted">or</span> <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

