<div id="add-pet-modal" role="dialog" aria-labelledby="addPet" aria-hidden="true" class="modal in fullscreen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="album-container center-block">
          <div class="row">
            <div id="add-pet-flow" class="col-xs-12">
              <div class="carousel slide" data-interval="false" data-ride="carousel">
               <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item">
                    <h2>Slide 1</h2>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <h2>Slide 2</h2>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                    </div>
                  </div>
                  <div class="item">
                    <h2>Slide 3</h2>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->