<div class="center-block album-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= render :partial => "cover_image", :locals => {:attachment => album.my_attachments.first, :title => album.title, :about =>  album.about, :album => album, :pet => @pet } %>
    </div>
    <div class="col-sm-6 hidden-xs">
      <%= link_to "<p>see more by <strong>#{@pet.owner.user_name}</strong></p>".html_safe %>
      <%= link_to "<p>see similar <strong>pets</strong></p>".html_safe %>
    </div>
  </div>
</div>