<div class="cover-image">
  <div class="cover-image-container">
    <div class="image-caption">
      <ul class="list-inline floated-list margin-top-10">
        <li><%= image_tag attachment.asset(:thumb) , :class => "thumb" %></li>
        <li>
          <h3 class="small_text margin-0"><%= pet.name %></h3>
          <h2 class="margin-0"><%= attachment.caption %></h2>
        </li>
      </ul>
    </div>
    <div class="my-cover-image">
      <%= image_tag attachment.asset(:large), :alt => attachment.caption, :class => "img-responsive" %>
      <%= link_to "", "", :class => "mask-link modal-link" %>
    </div>
    <% if album.my_attachments.length > 1 %>
      <ul class="list-inline floated-list image-galary">
        <% album.my_attachments.each do |a| %>
          <li>
            <%= link_to (image_tag a.asset(:thumb), :class => "thumb").html_safe, "#", :class => "modal-link" %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if about.present? %>
      <div class="black-panel">
        <p>
          <%= about %>
        </p>
      </div>
    <% end %>

  </div>
  <div class="cover-bottom">
    <ul class="list-inline">
      <li>
        <%= link_to '<span class="glyphicon glyphicon-heart"></span> 3'.html_safe, "#", :class => (!current_user ? "login" : "like") %>
      </li>
      <li>
        <%= link_to "comment", "#", :class => (!current_user ? "login" : "modal-link") %>
      </li>
      <li>
        <%= link_to "save", "#", :class => (!current_user ? "login" : "save-link") %>
      </li>
      <li>
        <%= link_to "share", "#", :class => (!current_user ? "login" : "share-link") %>
      </li>
    </ul>
  </div>

  <div class="cover-bottom">
    <ul class="list-inline floated-list">
      <% MyAttachment.limit(12).each do |a| %>
        <li><%= image_tag a.asset(:thumb) , :width => "32", :class => "mini" %></li>
      <% end %>
    </ul>
  </div>
  <div class="comment-box">
    <ul class="list-inline floated-list">
    <li>
      <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "thumb" %>
    </li>
    <li>
    <strong><%= Forgery::Name.full_name %></strong><br/>
    <p>I LOVE this post!! 

    Thanks Tina!! :-)</p>
    </li>
    </ul>
    <div class="report">
      <span class="glyphicon glyphicon-flag"></span>
    </div>
  </div>
  <div class="comment-box">
    <ul class="list-inline floated-list">
      <li>
      <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "thumb" %>
      </li> 
      <li>
      <strong><%= Forgery::Name.full_name %></strong><br/>
      <p>The website is pretty interesting :)</p>
      </li>
    </ul>
    <div class="report">
      <span class="glyphicon glyphicon-flag"></span>
    </div>
  </div>
  <div class="comment-box">
    <ul class="list-inline floated-list">
    <li>
    <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "thumb" %>
    </li>
    <li>
    <strong><%= Forgery::Name.full_name %></strong><br/>
    <p>Great discovery Tina. The site has topics and great shots!!

    Thanks a lot;-)</p>
    </li>
    </ul>
    <div class="report">
      <span class="glyphicon glyphicon-flag"></span>
    </div>
  </div>
  <div class="comment-box">
    <ul class="list-inline floated-list">
    <li>
      <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "thumb" %>
    </li>
    <li>
      <strong><%= Forgery::Name.full_name %></strong>
      <p>Hey Bubbly! How have you been? It's so nice to see you. Love the post. Lava is always a hot topic ;)


      I've only been to a few volcanoes in central America, but I would love to visit some of the Hawaiian volcanoes.</p>
    </li>
    </ul>
    <div class="report">
      <span class="glyphicon glyphicon-flag"></span>
    </div>
  </div>
  <div class="comment-box">
    <ul class="list-inline floated-list">
    <li>
      <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "thumb" %>
    </li>
    <li>
    <strong><%= Forgery::Name.full_name %></strong>
    <p>Yes, I enjoyed the whole trip, but unfortunately both my wife and I got high altitude sickness. I will not go into the details of what that means :) We made it to the top though, it was freezing cold and cloudy, but the scenery was breathtaking. <p>
    </li>
    </ul>
    <div class="report">
      <span class="glyphicon glyphicon-flag"></span>
    </div>
  </div>
  <div class="cover-bottom <%= 'hide' if params[:action] == "index" %>">
    <form>
      <div class="form-group">
        <textarea class="form-control" placeholder="add a comment">
          
        </textarea>
      </div>
    </form>
  </div>

</div>