<div class="album-gallary">
  <% album.my_attachments.each do |attach| %>
    <figure data-columns=1 data-rows=1 class='figure' >
      <%= image_tag attach.asset(:medium) %>
    </figure>
  <% end %>
</div>