<li class="boxy-item text-left">
  <figure data-grid-columns=1 data-grid-rows=1 >
    <div class="pet_pin">
  <!--     <h3 class="title"><%= pet_pin.name %></h3> -->
      <% attachment = pet_pin.my_attachments.first %>
      <div class="pin-image">
        <%= image_tag pet_pin.my_attachments.first.asset(:medium), :width => "220" %>
        <div class="tile-layer"></div>
        <div class="inside-tile-layer"> 
          <div class="heart">
            <span class="glyphicon glyphicon-heart"></span>
          </div>
          <div class="name">
            <%= image_tag pet_pin.my_attachments.first.asset(:thumb), :width => "40" %>
            <%= link_to pet_pin.name, "#", :class => "btn-pink btn-custom block"  %>
          </div>
          <div class="follow">
            <%= link_to "Follow", "#", :class => "btn-yellow btn-custom follow-link" %>
            <%= link_to pet_pin.breed, "#", :class => "btn-blue btn-custom"  %>
          </div>
          <div class="fullscreen">
            <span class="glyphicon glyphicon-fullscreen">
              
            </span>
          </div>
        </div>
      </div>
      <div class="thumb-list">
        <ul class="list-inline clearfix"> 
          <% pet_pin.my_attachments[0..3].each do |t_attach| %>
            <li class="thumb">
              <%= image_tag t_attach.asset(:thumb) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="tile-content">
        <ul class="list-inline margin-0">
          <li>
            <span class="glyphicon glyphicon-heart-empty"></span> <%= rand(570) %>
          </li>
          <li>
            <span class="glyphicon glyphicon-star-empty"></span><%= rand(170) %>
          </li>
          <li>
            <span class="glyphicon glyphicon-share"></span> <%= rand(370) %>
          </li>
          <li>
            <span class="glyphicon glyphicon-comment"></span> <%= rand(270) %>
          </li>
        </ul>
       <!--  <h3 class="largeLabel heading-font margin-bottom-5 margin-top-5"><%= pet_pin.name %></h3>
        <p class="margin-0"><%= pet_pin.about_pet %></p> -->
      </div>
      <div class="pin-divider"></div>
      <!-- <div class="comment_box">
        <ul class="list-unstyled margin-0">
          <% attachment.comments[0..10].each do |comment| %>
            <li><p><%= comment.comment_text %></p></li>
            <div class="pin-divider"></div>
          <% end %>
          <li>
            <%= form_for Comment.new, :remote => true do |f| %>
              <%= f.text_area :comment_text, :class => "form-control", :placeholder => "Add Comment" %>
            <% end %>
          </li>
        </ul>
      </div> -->
    </div>
    
  </figure>
</li>