<div class="album-container center-block">
<div class="row">
  <div class="col-xs-12">
    <h2>random stories</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    <ul class="list-unstyled">
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>
      </li>
      <li>
        <a>
        <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40, :class => "pull-right img-circle" %></a>
        <h3>
          <%= Forgery(:lorem_ipsum).words(10) %>
        </h3>
        <p>
          <%= Forgery(:lorem_ipsum).words(20) %>
          <p class="text-muted"><em>By <%= Forgery::Name.full_name %></em></p>
        </p>

      </li>
    </ul>
  </div>
</div>
</div>