<div class="album-container center-block">
<div class="row">
  <div class="col-xs-12">
    <h2>related collections</h2>
  </div>
</div>

<% 4.times do %>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <ul class="list-inline floated-list">
        <li>
          <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40 %>
        </li>
        <li>
        <strong><%= Forgery::Name.full_name %></strong><br/>
        <p class="text-muted small-text margin-bottom-5">by <%= Forgery::Name.full_name %></p>
        <%= link_to "follow", "", :class => "follow-black" %>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <ul class="list-inline floated-list">
        <li>
          <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40 %>
        </li>
        <li>
        <strong><%= Forgery::Name.full_name %></strong><br/>
        <p class="text-muted small-text margin-bottom-5">by <%= Forgery::Name.full_name %></p>
        <%= link_to "follow", "", :class => "follow-black" %>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <ul class="list-inline floated-list">
        <li>
          <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40 %>
        </li>
        <li>
        <strong><%= Forgery::Name.full_name %></strong><br/>
        <p class="text-muted small-text margin-bottom-5">by <%= Forgery::Name.full_name %></p>
        <%= link_to "follow", "", :class => "follow-black" %>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <ul class="list-inline floated-list">
        <li>
          <%= image_tag MyAttachment.limit(12).sample.asset(:thumb), :width => 40 %>
        </li>
        <li>
        <strong><%= Forgery::Name.full_name %></strong><br/>
        <p class="text-muted small-text margin-bottom-5">
          by <%= Forgery::Name.full_name %>
        </p>
        <%= link_to "follow", "", :class => "follow-black" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

</div>