<div class="container" id="browse-page">
  <div class="row margin-0" id="upper-row">
    <div class="col-xs-12" style="padding: 0">
      <div class="clearfix tags-container">
        <%#= render :partial => "tags" %>
      </div>
      <div class="center-block">
        <section id="boxy">
          <!-- <ul class="list-inline floated-list"> -->
          <% @albums.each do |album| %>
            <!-- <li> -->
             <%= render :partial => "cover_image", :locals => {:attachment => album.my_attachments.first, :title => album.title, :about =>  album.about, :album => album, :pet => album.pet } %>
            <!-- </li> -->
          <% end %>
          <!-- </ul> -->
        </section>
      </div>
    </div>
  </div>
</div>

<div id="cover-image-model" role="dialog" aria-labelledby="coverImage" aria-hidden="true" class="modal in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="modal-cover-container"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->