<section class="top-gray">
  <div class="album-container center-block">
    <div class="row margin-0">        
      <div class="col-xs-8">
        <ul class="list-inline floated-list">
          <li>
            <%= image_tag @album.my_attachments.first.asset(:thumb), :class => "img-responsive img-thumbnail" %>
            
          </li>
          <li>
            <h1 class="large_heading padding-left-0 bold margin-top-0 margin-bottom-0">
              <%= @pet.name %>
            </h1>

            <ul class="list-inline">
              <li>
                <em><span class="strong">by</span> <%= @pet.owner.user_name %></em>
              </li>
              <li>
                <em><span class="strong"><%= 5 %></span> followers</em>
              </li>
              
            </ul>
            <ul class="list-inline">
              <li>
                <%= link_to "follow", "#" %>
              </li>
              <li>
                <%= link_to "share", "#" %>
              </li>
            </ul>
           
          </li>
        </ul>  
      </div>

      <div class="col-xs-4">
        <h4 class="margin-top-0 text-muted">other collections</h4>
        <ul class="list-inline">
          <% @pet.albums.each do |a| %>
            <li>
              <%= image_tag a.my_attachments.first.asset(:thumb), :class => "img-thumbnail" %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</section>
<div class="container">
  <%= render :partial => "album", :collection => [@album] %>
  <%= render :partial => "related_albums", :locals => {:current_album => @album} %>
  <%= render :partial => "random_stories" %>
</div>
