<div class="album-container center-block">
  <div class="row margin-0">
    <div class="col-xs-12">
      <% if true #if @pets.empty? %>
        <h2 class="text-center">Oops! You have no pets. <%= link_to "Click here to add.", "#", :class => "pet-modal-link"  %></h2>
      <% end %>
    </div>
  </div>
</div>
<%= render :partial => "pets/add_pet" %>