<footer class="<%= 'hidden' if params[:action] == 'myframe' %>">
  <nav class="<%= request.path == root_path ?  'navbar navbar-default navbar-inverse' : 'simple-nav navbar-inverse'   %>">
    <div class="container">
      <div class="row upper text-center">
        <div class="col-xs-12">
          <ul class="list-unstyled margin-bottom-0 list-inline small_text">
            <li><%= link_to "Terms", "/terms" %></li>
            <li><%= link_to "Privacy", "/privacy" %></li>
            <li><%= link_to "About", "/about" %></li>
            <li><%= link_to "Home", "/" %></li>
          </ul>
        </div>
      </div>
      <div class="row bottom">
        <div class="col-xs-12">
          <p class="small_text head_line">All Rights Reserved | <%= SITENAME %>® 20011–2013<span class="hidden-xs myname hidden pull-left">Designed & Developed by <%= link_to "Vipin", "http://vipinnagpal.com/", :target => "_blank" %></span></p>
        </div>
      </div>
    </div>
  </nav>
</footer>