<div id="brand_top">
  <!-- <nav class="navbar navbar-top navbar-custom"> -->
  <div id="<%= 'myframe' if params[:action] == 'myframe' %>" class="navbar navbar-default navbar-custom navbar-top">
    <div class="container">
      <div class="pull-right" id="login-status">
        <% unless user_signed_in? %>
          <%= link_to "LOGIN", new_session_path(:user) ,:class => "btn btn-success bold" %>
        <% else %>
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <%= current_user.user_name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "My Account", edit_user_registration_path %></li>
              <li><%= link_to "Recommendations", recommendations_path %></li>
              <li><%= link_to "Bookmarks", bookmarks_path %></li>
              <li><%= link_to "Sign Out", destroy_session_path(:user), :method => :delete %></li>
            </ul>
          </div> 
        <% end %>
      </div>
      <div class="navbar-header">
        <%= link_to (image_tag "logo_cropped.gif",  :id => "logo").html_safe, root_path, :display => "diblock" %>
        
      </div>
      
      <div class="hidden-xs navbar-form navbar-right" id="header-form">
        <%= form_tag search_deals_path, :method => "get", :role => "search", :class => "form-inline"  do %>
        <!-- <form class="form-inline" role="search">  -->
          <div  class="form-group">
            <input type="text" name="merchant" size="30" class="form-control search_text" placeholder="Lay Bare Waxing Salon" value="<%= params[:merchant] || '' %>">
          </div>
          <div class="form-group ">
            <input type="text" name="location" size="25"   class="location_typeahead form-control" placeholder="City, state or zip"  value="<%= cookies[:location] %>">
          </div>
          <button type="submit" class="btn btn-primary btn-primary">Go</button>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="navbar navbar-default visible-xs navbar-custom" id="mobile_top_header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="navbar-form" style="margin-top: 4px;">
        <%= form_tag search_deals_path, :method => "get", :role => "search", :class => "form-inline"  do %>
        <!-- <form class="form-inline" role="search">  -->
          <div  class="form-group">
            <input type="text" name="merchant" size="30" class="form-control search_text" placeholder="Lay Bare Waxing Salon" value="<%= params[:merchant] || '' %>">
          </div>
          <div class="form-group ">
            <input type="text" name="location"  class="form-control location_typeahead" placeholder="City, state or zip" value="<%= cookies[:location] %>">
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
          <% if !params[:action] == "show" %>
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              Sort By <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a class="<%= 'active' if params[:sort] == 'dist' %>" href="<%= merge_with_deals_path({:sort => 'dist'}) %>">Distance</a></li>
                <li><a class="<%= 'active' if params[:sort] == 'pl' %>" href="<%= merge_with_deals_path({:sort => 'pl'}) %>">Price(Lowest First)</a></li>
                <li><a class="<%= 'active' if params[:sort] == 'dis' %>" href="<%= merge_with_deals_path({:sort => 'dis'}) %>">Discount</a></li>
                <li class="divider"></li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
  </div>
</div>

<header>
  
  <nav class="navbar navbar-default navbar-inverse margin-bottom-0" role="navigation" >
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#service_navbar">
          <span class="sr-only">Serices</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="service_navbar">
        <ul role="menu" id="accountmenu" class="nav navbar-nav">
          <li >
            <a class="<%= 'active' unless params[:service] %>" href="<%= deals_url(:state => dstate, :city => dcity, :subdomain => "places") %>">All Services</a>
          </li>
          <% Service.enabled.each do |ser| %>
            <li >
              <a class="<%= 'active' if params[:service] == ser.name %>" role="menuitem" tabindex="-1" href="<%= service_deals_url(:subdomain => "places", :state => dstate, :city => dcity, :service => ser.name) %>" > <%= ser.name %> </a>
            </li>
          <% end %>
          <!-- <%# all_cats = Category.enabled.includes(:services) %>
          <%# all_cats.slice(0,6).each do |cat| %>
            <%# services = cat.sub_categories.enabled.includes(:sub_category).all.group_by{|s| s.sub_category.name } %>
            <%# services = cat.services %>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%#= cat.display_name %></a>
              <%# if services.present? %>
              <ul class="dropdown-menu list-inline" role="menu" aria-labelledby="dropdownMenu2">
                <%# services.each do |ser| %>
                    <li role="presentation" class="dropdown-header"><%#= sub_cat %></li> 
                  <%# sers.each do |ser| %> 
                    <%# next if ser.status != 'enabled' %>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="<%#= service_deals_path(:state => dstate, :city => dcity, :service => ser.name) %>"><%#= ser.name %></a></li>
                  <%# end %>
                  
                <%# end %>
              </ul>
              <%# end %>
            </li> 
          <%# end %>  -->
          <!-- <li class="dropdown" id="accountmenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More..<b class="caret"></b></a>
            <ul class="dropdown-menu" style="min-width: 220px">
             <%# if all_cats.length > 5 %>
              <%# all_cats.slice(6,20).each do |cat| %>
                <li class="dropdown-submenu">
                  <a class="dropdown-toggle-submenu" href="javascrip:void(0)" tabindex="-1" ><%#= cat.name %></a>
                    <ul class="dropdown-menu list-inline clearfix">
                      <%# cat.services.each do |ser| %>
                      <%# next if ser.status != 'enabled' %>
                      <li role="presentation"><%#= link_to ser.name,  service_deals_path( :state => dstate, :city => dcity, :service => ser.name), :role => "menuitem", :tabindex => "-1" %></li>
                      <%# end %>
                    </ul>
                </li>
              <%# end %>
            <%# end %>
            </ul>
          </li> -->
        </ul>        
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</header>