<% deal_image = (deal.dealsource == "MyTime" ?  deal.showimagestandardsmall : deal.showimagestandardbig ) %>
<ul class="list-inline share_bar">
    <li>
      <%= tweet_me(deal.slug_url, deal.dealtitle.truncate(100)) %>
    </li>
    <li>
      <%= facebook_sharer(deal.slug_url) %>
    </li>
    <!-- <li><a href="mailto:email@echoecho.com?subject=SweetWords"></a> -->
    <!-- <li><a class="shared-item email" href="mailto:friend@gmail.com?subject=<%= deal.dealtitle %>&body=<%= deal.slug_url %>">Email</a></li> -->
    <li><a data-pin-config="none" onclick="return windowOpener($(this).attr('href'))"  href="//pinterest.com/pin/create/button/?url=<%= CGI::escape(deal.slug_url) %>&media=<%= CGI::escape(deal_image) %>&description=<%= deal.dealtitle %>" data-pin-do="buttonPin" class="shared-item pin" >Pin</a></li>
</ul>