<div style="margin-bottom: -29px;">
<section class="splash-top">
  <div class="bluring">
    <div class="container">
      <div class="splash">
        <div class="row">
          <div class="col-xs-12 alpha60">
            <h1 class="inverse">Find Discounted Deals and Local Appointements in your Area</h1>
            <h2 class="lead hidden-xs margin-bottom-5">Or use our <strong>powerful search</strong> to book <strong>an appointment</strong> with your 
              <strong>favorite business</strong> in your area.
            </h2>
          </div>
          <div class="col-xs-12">
            <%= form_tag search_deals_path, :method => "get", :role => "search", :class => "form-inline"  do %>
            <!-- <form class="form-inline" role="search">  -->
              <div class="form-group">
                <label class="sr-only">Where</label>
                <input type="text" name="location" size="30"   class="input-lg location_typeahead" value="<%= cookies[:location] %>" placeholder="City, state or zip">
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-green">Get Started-It's Free</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-services">
  <div class="row visible-md visible-lg">
    <div class="col-md-3 cat hometint">
      <%= image_tag "railstrap/homepage_new/evolution_salon_2.jpg", :class => "hometint img-responsive"  ,:alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Evolution Salon</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint">
      <%= image_tag "railstrap/homepage_new/crystal_fitwell.jpg", :class => " hometint img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Crystal Fitwell</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint">
      <%= image_tag "railstrap/homepage_new/Pet_Keepers.jpg", :class => "hometin img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Pet Keepers</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint">
      <%= image_tag "railstrap/homepage_new/pristine_automotive_inc.jpg", :class => "hometin img-responsive", :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Pristine Automotive INC.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-md visible-lg">
    <div class="col-md-3 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/sunlounge_tanning_studio_7_spa.jpg", :class => "lower_tint hometint img-responsive"  ,:alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Msunlounge Tanning Studio Spa Gray</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/Meyer_izaac,_od.jpg", :class => " img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Meyer Izaac, OD</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/mikiSharon.jpg", :class => " img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Miki Sharon</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 cat hometint lower_tint ">
      <%= image_tag "railstrap/homepage_new/YuBfit_Fitness_TRX_Personal_Training_Gym.jpg", :class => "  img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>YuBfit Fitness TRX Personal Training Gym</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-xs visible-sm">
     <div class="col-xs-6 cat hometint">
      <%= image_tag "railstrap/homepage_new/evolution_salon_2.jpg", :class => "hometint img-responsive"  ,:alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Evolution Salon</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-6 cat hometint">
      <%= image_tag "railstrap/homepage_new/crystal_fitwell.jpg", :class => " hometint img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Crystal Fitwell</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-xs visible-sm">
    <div class="col-xs-6 cat hometint">
      <%= image_tag "railstrap/homepage_new/Pet_Keepers.jpg", :class => "hometin img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Panther Energy Total Fitness</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-6 cat hometint">
      <%= image_tag "railstrap/homepage_new/pristine_automotive_inc.jpg", :class => "hometin img-responsive", :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Pristine Automotive INC.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-xs visible-sm">
    <div class="col-xs-6 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/sunlounge_tanning_studio_7_spa.jpg", :class => "lower_tint hometint img-responsive"  ,:alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Msunlounge Tanning Studio Spa Gray.jpg</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-6 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/Meyer_izaac,_od.jpg", :class => " img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Meyer Izaac, OD</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-xs visible-sm">
    <div class="col-xs-6 cat hometint lower_tint">
      <%= image_tag "railstrap/homepage_new/mikiSharon.jpg", :class => " img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>Miki Sharon</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-6 cat hometint lower_tint ">
      <%= image_tag "railstrap/homepage_new/YuBfit_Fitness_TRX_Personal_Training_Gym.jpg", :class => "  img-responsive",  :alt => "" %>
      <div class="info bluring">
        <div class="detail">
          <h3>YuBfit Fitness TRX Personal Training Gym</h3>
        </div>
      </div>
    </div>
  </div>
</section>
</div>