<% thin_image = "" %>
<ul class="list-inline share_bar">
    <li>
      <%= tweet_me(thin.slug_url, thin.dealtitle.truncate(100)) %>
    </li>
    <li>
      <%= facebook_sharer(thin.slug_url) %>
    </li>
    <!-- <li><a href="mailto:email@echoecho.com?subject=SweetWords"></a></li> -->
   <!--  <li><a class="shared-item email" href="mailto:friend@gmail.com?subject=<%= thin.dealtitle %>&body=<%= thin.slug_url %>">Email</a></li> -->
    <li><a data-pin-config="none" onclick="return windowOpener($(this).attr('href'))"  href="//pinterest.com/pin/create/button/?url=<%= CGI::escape(thin.slug_url) %>&media=<%= CGI::escape(thin_image) %>&description=<%= thin.dealtitle %>" data-pin-do="buttonPin" class="shared-item pin" >Pin</a></li>
</ul>