<div role="dialog" aria-labelledby="Zip/Postal Code" aria-hidden="true" id="zip_collector" class="modal slide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Get great deals everyday or book any service from over two million businesses</h3>
      </div>
      <div class="modal-body">
        <%= form_tag get_zip_path, :role => "form", :remote => true do %>
          <div class="form-group">
            <input name="location" class="form-control zipcode required" placeholder="Zip/Postal Code" type="text" id="zip">
          </div>
          <div class="form-group clearfix margin-bottom-0">
            <%= submit_tag "Continue" , :class => "btn btn-primary pull-right", data: {:disable_with => "Submitting.."} %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer margin-top-0">
        Narrow down your search or <%= link_to "skip this step", "", :"data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->