<div class="dotted_background">
  <div class="container  main_index_container">
    <div class="aboutBox "> 
    <h2>What is <%= SITENAME %>?</h2> 
    <p>Here at <%= SITENAME %>, we help to find the deals you want. We collect great deals from dozens of the best daily deal sites in US, filter them into categories and put them all onto one site and email. Our goal is to save you not only money but time! <%= SITENAME %> does the hard work in finding the deals that are relevant to you so you don't have to look through tons of daily deal emails every morning. <br><br>We'll even help you filter deals by locations and categories, which lets you personalize your experience. When you find a deal you want, we link you directly to the source website in order for you to make your purchase.</p> <h2>Who do <%= SITENAME %> track?</h2> <p><%= SITENAME %> focuses on collecting only the best deals from reputable deal sites. Currently, <%= SITENAME %> has deals from over a dozen top group buying sites in US such as Groupon, Living Social, Scoopon, Cudo, Spreets, Ouffer, Deals.com.au and Our Deal.</p>
  </div>
</div>