<% content_for :title, "#{SITENAME} | Discounted deals for Massages, Haircuts, Yoga, Restaurants, Travel and more" %>
<% content_for :description, "Book discounted appointments for Massage Therapists, Dentists, Hair Stylists, Restaurants, Travel and many others or shop thousands of discounted deals." %>
<%= render "shared/splash" %>
<!-- div class="dotted_background fetures-splash">
  <div class="row">
    <div class="col-xs-12"><h2>Now Book All your Appointments Online with Just a Click</h2></div>
    <div class="container">
      <div class="row" id="features-list">
        <div class="well col-xs-12 col-sm-4 browse">
          <h3>Browse Open Appointments</h3>
          <p>Browse through thousands of open appointments offering multiple services.</p>
        </div>
        <div class="well col-xs-12 col-sm-4 searchm">
          <h3>Search your Favorite Merchant</h3>
          <p>Search your favorite busniesses from the our large database</p>
        </div>
        <div class="well col-xs-12 col-sm-4 bookn">
          <h3>Book an Appointment</h3>
          <p>Book the time that suits you with just one click</p>
        </div>
      </div>
    </div>
  </div>
</div> -->