<li class="deal_blk">
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <% if deal.address.present? %>
      <meta itemprop="streetAddress" content="<%= deal.address %>">
    <% end %>
    <% if deal.city.present? %>
      <meta itemprop="addressLocality" content="<%= deal.city %>">
    <% end %>
      <meta itemprop="addressRegion" content="<%= deal.state %>">
    <% if deal.zip.present? %>
      <meta itemprop="postalCode" content="<%= deal.zip %>">
    <% end %>
    <% if deal.phone_number %>
      <meta itemprop="telephone" content="<%= deal.phone_number %>">
    <% end %>
    <% if deal.homepage %>
      <meta itemprop="url" content="<%= deal.homepage %>">
    <% end %>
  </span>
  <% if deal.dealsource == "MyTime" %>
    <% durl = "http://www.mytime.com" + deal.url %>
  <% else %>
    <% durl = deal.url %>
  <% end %>
  <div class="image">
  <% deal_image = (deal.dealsource == "MyTime" ?  deal.showimagestandardsmall : deal.showimagestandardbig ) %>
    <%= image_tag "http://placehold.it/230x138/09f/fff&text=Image Loading..", :'data-original' =>  deal_image, :class => "lazy deal_image", :alt => deal.name %>
    <noscript><%= image_tag deal_image, :alt => deal.name, :class => "deal_image" %></noscript>
    <div class="hidden-xs">
      <div class="layer">
        <%= render :partial => "shared/share_bar", :locals => {:deal => deal} %>
      </div>
    </div>
  </div>

  <div class="deal_info">
    <h3 class="small_heaading text-muted margin-bottom-0">
      <strong><%= deal.name %></strong><br/>
      <%= deal.dealtitle %>
    </h3>
    <p class="text-left margin-bottom-0">
      <%= (deal.address.present? ?  (deal.address + ",") : "") %> <%= deal.city %><br />
      <% if deal.neighborhoods.present? %>
        <%= deal.neighborhoods.join(", ") %>
      <% end %>
    </p>
    <% if deal.avg_rating.present? && deal.avg_rating > 0 %>
      <div  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="my-small-rating">
        <meta itemprop="ratingValue" content="<%= deal.avg_rating  %>" />
        <meta itemprop="reviewCount" content="<%= deal.review_count %>" />
        <div>
          <a href="<%= durl  %>" target="_blank">
            <div class="small-star-yellow small-star-<%= deal.avg_rating.to_f.to_s.gsub(".", "-") %>">
              
            </div>
            <div class="my_review_count">[<%= deal.review_count %>]</div>
          </a>
          <a href="#myrating">
            <div class="mytime-rating-logo"></div>
          </a>
        </div>
      </div>
    <% end %>
    <% if deal.expirationdate %>
      <p class="small_text text-left margin-top-0">Expires on:&nbsp;&nbsp;<%= deal.expirationdate.strftime("%A, %b %d") %></p>
    <% end %>
    <% if deal.homepage.present? %>
      <p class="text-left">
      <%= link_to deal.homepage.truncate(25), deal.homepage, :class => "strong" %>
      </p>
    <% end %>
    <% if deal.dealtype %>
    <p>
      <strong><%= deal.dealtype %></strong>
    </p>
    <% end %>
    <div class="row">
      <div class="col-xs-6"><%= link_to "View Deal", deal.slug_path, :class => "btn btn-primary btn-blue" %></div>
      <div class="col-xs-6"><%= link_to "Book Now", durl , :target => "_blank", :class => "btn btn-success" %></div>
    </div>
    <br />
    <div class="bottom-price">
      <% if deal.dealprice %>
        <% if deal.dealdiscountpercent %>
        <div class="row">
          <div class="col-xs-7"><strong><%= "$#{deal.dealprice.to_i}-$#{deal.dealoriginalprice.to_i}" %></strong></div>
          <div class="col-xs-5"><strong><%= "#{deal.dealdiscountpercent.to_i}% off"  %></strong></div>
        </div>
        <% else %>
          <div class="col-xs-12"><strong><%= "$#{deal.dealprice.to_if}" %></strong></div>
        <% end %>
      <% end %>
    </div>
    <div class="row bottom-info">
      <% if deal.showlogo %>
        <div class="sold_by">
          <div class="col-xs-6 text-left">
            <strong class="text-muted">Sold By</strong>
          </div>
          <div class="col-xs-6">
            <%= image_tag deal.showlogo %>
          </div>
        </div>
      <% elsif deal.dealsource %>
        <div class="sold_by">
          <div class="col-xs-6 text-left">
            <strong class="text-muted">Sold By</strong>
          </div>
          <div class="col-xs-6">
            <span><%= deal.dealsource %></span>>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    

</li>