<script type="text/template" id='map-deal-index'>
  <ul class="list-unstyled">
    <li style="max-width: 350px;">
      <div class="pull-left thin-image">
        <div class="margin-bottom-5">
          <img alt="<%%= name %>" class="thin-image img-responsive img-thumbnail" src="<%%= image %>">
        </div>
        <h3 class="margin-bottom-0 margin-top-0"><a class="upper-small-text bold" href="<%%= slug_path %>"><%%= name %></a></h3>
       <h3 class="margin-bottom-0 margin-top-0 text-muted upper-small-text bold"><%%= service %></h3>
      <p class="margin-bottom-0 margin-top-0 text-muted" style="max-width: 200px;"><%%= address %></p>
    </li>
  </ul>
</script>