<div class="col-xs-12 reviews-container">
  <div class="yelp_reviews">
    <% if @thin.yelp_reviews.present? && @thin.yelp_reviews.class != Array && @thin.yelp_reviews.values.present? %>
      <meta itemprop="itemreviewed" content="<%= @thin.name %>">
      <h3 class="medium_heading strong margin-top-0 margin-bottom-10"><%= @thin.name %> Reviews From Yelp</h3>
      <ul class="list-unstyled">
        <% @thin.yelp_reviews.values.each do |y_rev|  %>
          <li class="review_line">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-9">
                <div class="review_image pull-left">
                  <%= link_to (image_tag  y_rev["user_photo_url"], :class => "img-responsive img-circle img-thumbnail").html_safe, y_rev["url"], :target => "_blank" %>
                </div>
                <div class="review-text">
                  <p>
                    <span><%= y_rev["user_name"] %></span>
                    <span class="pull-right"><%= link_to (image_tag y_rev["rating_img_url"], :itemscope => "", :itemprop => "review", :itemtype => "http://schema.org/Review").html_safe, y_rev["url"] , :target => 
                    "_blank"%></span>
                  </p>
                  <div class="summary" itemprop="summary">
                  <p><%= y_rev["text_excerpt"] %></p>
                  </div>
                  <div style="display: none" class="dtreviewed" itemprop="dtreviewed"><%= y_rev["date"] %></div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <% if @thin.yelp_id.present? %>
        <p class="medium_text"><%= link_to "View on Yelp", "http://yelp.com/biz/" + @thin.yelp_id %></p>
      <% end %>
    <% elsif @thin.yelp_reviews.present? && @thin.yelp_reviews.class == Array  %>
      <meta itemprop="itemreviewed" content="<%= @thin.name %>">
      <h3 class="medium_heading strong margin-top-0 margin-bottom-10"><%= @thin.name %> Reviews From Yelp</h3>
      <ul class="list-unstyled">
        <% @thin.yelp_reviews.each do |y_rev|  %>
          <li class="review_line">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-9">
                <div class="review_image pull-left">
                  <%= link_to (image_tag  y_rev["profile_pic"], :class => "img-responsive img-circle img-thumbnail").html_safe,("http://yelp.com/biz/" + @thin.yelp_id), :target => "_blank" %>
                </div>
                <div class="review-text">
                  <p>
                    <span><%= y_rev["reviewer_name"] %></span>
                  </p>
                  <div class="summary" itemprop="summary">
                  <p><%= y_rev["review_text"].truncate(200) %></p>
                  </div>
                  <div style="display: none" class="dtreviewed" itemprop="dtreviewed"><%= y_rev["date"] %></div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <% if @thin.yelp_id.present? %>
        <p class="medium_text"><%= link_to "View on Yelp", "http://yelp.com/biz/" + @thin.yelp_id %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 reviews-container with_border">
  <div class="city_reviews">
    <% if @thin.city_reviews.present? && @thin.city_reviews.class == Hash && @thin.city_reviews[:review_count].to_i > 0  %>
      <h3 class="medium_heading strong margin-top-0 margin-bottom-10">More <%= @thin.name %> Reviews</h3>
      <ul class="list-unstyled">
        <% @thin.city_reviews[:reviews].values.each do |c_rev|  %>
          <li class="review_line">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-9">
                <div class="review-text">
                  <p>
                    <span><%= c_rev["review_author"] %></span>
                    <span style="margin-left: 10px;"><%= link_to "<span class='citysearch stars_#{c_rev["review_rating"]}'></span>".html_safe, c_rev["review_url"], :target => "_blank" %></span>
                    <span class="pull-right"><%= link_to (image_tag c_rev["attribution_logo"]).html_safe, c_rev["review_url"], :target => "_blank" %></span>
                  </p>
                  <p><%= c_rev["review_text"] %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% elsif @thin.city_reviews.present? && @thin.city_reviews.class == Array && @thin.city_reviews.first[:review_count].to_i > 0 %>
      <h3 class="medium_heading strong margin-top-0 margin-bottom-10">More <%= @thin.name %> Reviews</h3>
      <ul class="list-unstyled">
        <% @thin.city_reviews.each do |c_rev|  %>
          <li class="review_line">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-9">
                <div class="review-text">
                  <p>
                    <span><%= c_rev[:author_name].titleize %></span>
                    <span style="margin-left: 10px;"><%= link_to "<span class='citysearch small diblock stars_#{c_rev[:rating].to_i.to_s}'></span>".html_safe, c_rev[:url], :target => "_blank" %></span>
                  </p>
                  <p><%= c_rev[:content].truncate(200) %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>