<li id="deal<%= thin.id %>" class="business-index" itemscope itemtype="http://schema.org/LocalBusiness" class="deal_blk">
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemprop="streetAddress" content="<%= thin.street_address %>">
    <meta itemprop="addressLocality" content="<%= thin.city %>">
    <meta itemprop="addressRegion" content="<%= thin.state %>">
    <meta itemprop="postalCode" content="<%= thin.zip %>">
    <meta itemprop="telephone" content="<%= thin.phone_number %>">
    <meta itemprop="url" content="<%= thin.website %>">
  </span>
  <div class="row with_border_bottom clearfix busi-info-section">
    <div class="col-sm-12 col-xs-12">
      <ul class="list-unstyled">
        <li style="min-width: 350px;">
          <div class="pull-left thin-image">
            <div class="margin-bottom-5">
              <%= image_tag thin.service.image_url.sample.gsub("medium", "slate_black"), :class => "thin-image img-responsive img-thumbnail", :"data-original" => thin.service.image_url.sample.gsub("medium", "slate_black") %>
            </div>
            <%= all_ratings(thin, true) %>
          </div>
          <h3 class="margin-bottom-0 margin-top-0"><%= link_to thin.name, thin.slug_path, :class => "medium_text bold" %></h3>
           <h4 class="margin-bottom-0 margin-top-0 text-muted medium_text"><%= thin.service.name %></h4>
          <p class="margin-bottom-0 margin-top-0 text-muted"><%= thin.full_address %></p>
          <% if thin.hours.present? %>
            <p class="margin-bottom-0 margin-top-0 text-muted"><%= thin.hours.join(", ") %></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</li>
