<% if params[:service] %>
<% content_for :title, "#{params[:service]} in #{dcity}, #{dstate} - More Info on #{SITENAME}" %>
<% content_for :description, "Book #{params[:service]} from top sellers in #{dcity}, #{dstate}. Book now on #{SITENAME}" %>
<% elsif params[:merchant] %>
  <% content_for :title, "#{params[:merchant]} in #{dcity}, #{dstate} - More on #{SITENAME}" %>
  <% content_for :description, "Up to 70% off #{params[:merchant]} in #{dcity}, #{dstate}. Book now on #{SITENAME}" %>
<% else %>
<% content_for :title, "Top Places for Your Pet in #{dcity}, #{dstate} - More on #{SITENAME}" %>
<% content_for :description, "Find top places for Dog Grooming, Cat Grooming, Dog Waling, Pet Sitting and more in #{dcity}, #{dstate}. Book now on #{SITENAME}" %>
<% end %>
<%= content_for :map do %>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
  <%#= javascript_include_tag "markerclusterer", "jquery.ui.map.min.js" %>
  <script type="text/javascript">
    marker_locations = JSON.parse('<%= (@thins.map{|t| {:latitude => t.location["lat"].to_f, :longitude => t.location["lon"].to_f, :id => t.id} }).to_json.html_safe %>')
  </script>
<% end %>
<div id="index-page">
  <section class="gray-back" id="top-gray">
    <div class="container main_index_container">
      <div class="row">
        <div class="col-xs-12 clearfix">
          <ol class="breadcrumb pull-right margin-bottom-0">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><%= link_to ("<span itemprop='title'>Home</span>").html_safe, root_path, :itemprop => "url", :title => "Pet Services in you Area" %>
            </li>
            <% if dcity && dstate %>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <%= link_to ("<span itemprop='title'>" + dcity + ", " + dstate + "</span>").html_safe, deals_path(:state => dstate, :city => dcity), :itemprop => "url", :title => "Per Services in #{dcity}, #{dstate}" %>
              </li>
            <% end %>
            <% if params[:q] && dcity && dstate %>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
                <meta itemprop="url" content="<%= request.url %>" />
                <meta itemprop="title" content="Book Online on <%= SITENAME %>" />
                <%= @thin.name %>
              </li>
            <% end %>
          </ol>  
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <h1 class="large_heading padding-left-0 bold margin-top-0 margin-bottom-0">
            <% if params[:service] %>
              <%= "#{params[:service]} in #{dcity}, #{dstate}" %>
            <% elsif params[:merchant] %>
              <%= "Search result for #{params[:merchant]} in #{dcity}, #{dstate}" %>
            <% else %>
              <%= "Pet Services in #{dcity}, #{dstate}" %>
            <% end %>
          </h1>
          <p class="text-muted">
            <em><span class="strong"><%= @thins.total_entries %></span> business found near you</em>
          </p>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Sort By <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a class="<%= 'active' if params[:sort] == 'dist' %>" href="<%= merge_with_deals_path({:sort => 'dist'}) %>">Distance</a></li>
              <li><a class="<%= 'active' if params[:sort] == 'pl' %>" href="<%= merge_with_deals_path({:sort => 'pl'}) %>">Price(Lowest First)</a></li>
              <li><a class="<%= 'active' if params[:sort] == 'dis' %>" href="<%= merge_with_deals_path({:sort => 'dis'}) %>">Discount</a></li>
              <li class="divider"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container main_index_container">
    <div class="row">
      
      <div class="col-sm-8 col-md-8 padding-left-0 col-xs-12 col-lg-8">
        <ul class="list-unstyled">
          <%= render :partial => "thin_2", :collection => @thins, :as => :thin %>
        </ul>
      </div>
      <div id="map_canvas_wrap" class="col-sm-4 padding-right-0 col-md-4 col-xs-12 col-lg-4" >
        <div class="well">Ads</div>
        <div class="bs-sidebar">
          <div id="map_canvas_container" class="affix-top" >
            <div id="map_canvas" class="gray-back" style=""></div>
          </div>
        </div>
        <div class="well">Ads</div>
        <div class="well">Ads</div>
      </div>
    </div>
  </div>
</div>