<% if params[:service] %>
<% content_for :title, "#{params[:service]} in #{dcity}, #{dstate} #{dzip}- with Recommendations on #{SITENAME}" %>
<% content_for :description, "Book #{params[:service]} from top sellers in #{dcity}, #{dstate} recommended by other users." %>
<% elsif params[:merchant] %>
  <% content_for :title, "#{params[:merchant]} in #{dcity}, #{dstate} #{dzip}- on #{SITENAME}" %>
  <% content_for :description, "Book #{params[:merchant]} on #{SITENAME}. Read recommendations and more." %>
<% else %>
  <% content_for :title, "Top Places for Your Pet in #{dcity}, #{dstate} and recommendations- on #{SITENAME}" %>
  <% content_for :description, "Find top places for Dog Grooming, Cat Grooming, Dog Waling, Pet Sitting and in #{dcity}, #{dstate} and read recommendations on #{SITENAME}" %>
<% end %>
<%= content_for :map do %>
  <script type="text/javascript">
    marker_locations = JSON.parse('<%= (@thins.map{|t| {:latitude => (t.location["lat"] || t.location[:lat]).to_f, :longitude => (t.location["lon"] || t.location[:lon]).to_f, :id => t.id} }).to_json.html_safe %>')
  </script>
<% end %>
<%= content_for :js do %>
  <%= render :partial => "deals/index_page_template" %>
<% end %>
<div id="index-page">
  <section class="gray-back" id="top-gray">
    <div class="container">
      <div class="row margin-0" >
        <div class="col-xs-3 pull-right">
          <div class="">
            <a href="javascript:void()" id="map-pull-down">
              <div class="text-center diblock">
                <%= image_tag "map_icon.jpg" , :class => "img-responsive", :id => "fake-map" %>
                <span>View Map</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-8 clearfix">
          <ol class="breadcrumb padding-left-0">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><%= link_to ("<span itemprop='title'>Home</span>").html_safe, root_path, :itemprop => "url", :title => "Pet Services in you Area" %>
            </li>
            <% if dcity && dstate %>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <%= link_to ("<span itemprop='title'>" + dcity + ", " + dstate + "</span>").html_safe, deals_path(:state => dstate, :city => dcity), :itemprop => "url", :title => "Per Services in #{dcity}, #{dstate}" %>
              </li>
            <% end %>
            <% if dcity && dstate && params[:service] %>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <%= link_to ("<span itemprop='title'>" + params[:service] + "</span>").html_safe, service_deals_path(:state => dstate, :city => dcity, :service => params[:service]), :itemprop => "url", :title => "#{params[:service]} in #{dcity}, #{dstate}" %>
              </li>
            <% end %>
            <% if params[:q] && dcity && dstate %>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
                <meta itemprop="url" content="<%= request.url %>" />
                <meta itemprop="title" content="Book Online on <%= SITENAME %>" />
                <%= @thin.name %>
              </li>
            <% end %>
          </ol> 

        </div>
        <div class="col-xs-8 ">
          
          <h1 class="large_heading padding-left-0 bold margin-top-0 margin-bottom-0">
            <% if params[:service] %>
              <%= "#{params[:service]} in #{dcity}, #{dstate} #{params[:zip] || dzip}" %>
            <% elsif params[:merchant] %>
              <%= "Search result for #{params[:merchant]} in #{dcity}, #{dstate} #{params[:zip] || dzip}" %>
            <% else %>
              <%= "Pet Services in #{dcity}, #{dstate} #{params[:zip] || dzip}" %>
            <% end %>
          </h1>
          <p class="text-muted">
            <em><span class="strong"><%= @total_entries %></span> business found near you</em>
          </p>

          <div class="btn-group pull-right hidden">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Sort By <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a class="<%= 'active' if params[:sort] == 'dist' %>" href="<%= merge_with_deals_path({:sort => 'dist'}) %>">Distance</a></li>
              <li><a class="<%= 'active' if params[:sort] == 'pl' %>" href="<%= merge_with_deals_path({:sort => 'pl'}) %>">Price(Lowest First)</a></li>
              <li><a class="<%= 'active' if params[:sort] == 'dis' %>" href="<%= merge_with_deals_path({:sort => 'dis'}) %>">Discount</a></li>
              <li class="divider"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="map_canvas_container" >
      <div id="map_canvas" class="gray-back" style=""></div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <% if  @thins.empty? %>
          <p class="text-center small_heading text-muted">
            Sorry! Nothing in your area yet. Pick a nearby location or try some other time.
          </p>
        <% end %>
        <div id="deals_container">
          <ul class="list-inline" id="deals_list">
            <%= render :partial => "thin", :collection => @thins %>
          </ul>
        </div>
      </div>
      <% if @thins.present? %>
        <% if @total_pages > (params[:page] || 1).to_i %>
          <div class="text-center col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <% if params[:page] && params[:page].to_i > 1 %>
            <%= link_to "Prev", prev_page , :class => "btn btn-primary", :id => "dpaginate" ,:rel => "prev" %>&nbsp;&nbsp;&nbsp;
          <% end %>
            <%= link_to "Next", next_page , :class => "btn btn-primary", :id => "dpaginate" ,:rel => "next" %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>