<% content_for :title, "#{@deal.name}, #{@deal.service.name}: #{@deal.city || dcity}, #{@deal.state || dstate} - Buy/Book on #{SITENAME}" %>
<% content_for :description, "Up to 75% for #{@deal.service.name} from #{@deal.name} in #{params[:city]}, #{params[:state]}. Buy/Book now on #{SITENAME}" %>
<div class="dotted_background">
  <div class="container  main_index_container">
    <%= render :partial => "shared/orange_filter" %>
    <div class="row">
    <% if @deal.dealsource == "MyTime" %>
      <% durl = "http://www.mytime.com" + @deal.url %>
    <% else %>
      <% durl = @deal.url %>
    <% end %>
      <div class="col-xs-12"></div>
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><%= link_to ("<span itemprop='title'>" + dstate + ", " + dcity + "</span>").html_safe, deals_path(:state => dstate, :city => dcity), :itemprop => "url", :title => "More deals in #{dcity}, #{dstate}" %>
          </li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <%= link_to ("<span itemprop='title'>" + @deal.service.name + "</span>").html_safe, service_deals_path(:state => dstate, :city => dcity, :service => @deal.service.name), :itemprop => "url", :title => "More #{@deal.service.name} deals in #{dcity}, #{dstate}" %>
          </li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
            <meta itemprop="url" content="<%= request.url %>" />
            <meta itemprop="title" content="You can now buy appointments online on <%= SITENAME %>" />
            <%= @deal.name %>
          </li>
        </ol>  
      </div>


      <div itemscope itemtype="http://schema.org/LocalBusiness" class="col-xs-12">
        <div class="main_page_deal with_border white_container" id="deals_container">

          <div class="row">
            <div class="col-xs-12 col-sm-6 text-center" style="margin-top: 20px; margin-bottom: 20px;">
              <div style="padding-left: 10px;">
                <%= image_tag @deal.showimagestandardbig, :class => "img-thumbnail img-responsive"  %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="deal_info">
                <h1 class="text-hide small-text margin-top-0 margin-bottom-0">
                  <%= "#{@deal.service.try(:name)} from #{@deal.name} Buy or Book Appointmnet on #{SITENAME}" %>
                </h1>
                <h2 class="text-hide small-text margin-top-0 margin-bottom-0">
                  <%= "Buy/Book more #{@deal.service.try(:name)} appointments on #{SITENAME}" %>
                </h2>

                <h3 class="medium_heading text-muted">
                  <%= "#{@deal.service.try(:name)} from #{@deal.name}" %>
                </h3>
                <% if @deal.dealtitle.present? && @deal.dealsource != "MyTime" %>
                  <h3 class="medium_heading text-muted margin-top-5"><%= @deal.dealtitle %></h3>
                <% end %>
                <% if @deal.avg_rating.present? && @deal.avg_rating > 0 %>
                   <div  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="my-small-rating">
                    <meta itemprop="ratingValue" content="<%= @deal.avg_rating %>" />
                    <meta itemprop="reviewCount" content="<%= @deal.review_count %>" />
                    <div>
                      <a href="<%= durl  %>" target="_blank">
                        <div class="small-star-yellow small-star-<%= @deal.avg_rating %>">
                          
                        </div>
                        <div class="my_review_count">[<%= @deal.review_count %>]</div>
                      </a>
                      <a href="#myrating">
                        <div class="mytime-rating-logo"></div>
                      </a>
                    </div>
                  </div>
                <% end %>
                <div class="row" itemscope itemtype="http://schema.org/PostalAddress">
                  <div class="col-xs-7">
                    <p class="margin-bottom-0">
                      <% if @deal.address.present? %>
                        <span itemprop="streetAddress"><%= @deal.address %></span><br />
                      <% end %>
                      <% if @deal.address2.present? %>
                        <%= @deal.address2 %><br />
                      <% end %>
                      <%= (@deal.city.present? ? ("<span itemprop='addressLocality'>" + @deal.city + "</span>").html_safe + ", " : "") + (("<span itemprop='addressRegion'>" + @deal.state + "</span>").html_safe || "") + " " + ( "<span itemprop='postalCode'>" + @deal.zip.to_s + "</span>").html_safe %><br />
                      <% if @deal.neighborhoods.present? %>
                        <strong>Neighborhoods: </strong><%= @deal.neighborhoods.join(", ") %><br />
                      <% end %>
                      <% if @deal.homepage.present? %>
                        <meta itemprop="url" content="<%= @deal.homepage %>">
                        <%= link_to @deal.homepage, @deal.homepage , :target => "_blank" %><br/>
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-5">
                    <% if @deal.dealtype.present? %>
                      <strong><%= @deal.dealtype %></strong>
                    <% end %>
                  </div>
                  <% if @deal.dealprice.present? %>
                    <% if @deal.dealdiscountpercent %>
                      <div class="col-xs-7"><strong><%= "$#{@deal.dealprice}-$#{@deal.dealoriginalprice}" %></strong></div>
                      <div class="col-xs-5"><strong><%= "#{@deal.dealdiscountpercent.to_i}% off"  %></strong></div>
                    <% else %>
                      <div class="col-xs-12"><strong><%= "$#{@deal.dealprice}" %></strong>
                      </div>
                    <% end %>
                  <% end %>
                  <% if @deal.showlogo %>
                    <div class="sold_by">
                      <div class="col-xs-7 text-left">
                        <strong class="text-muted">Sold By</strong>
                      </div>
                      <div class="col-xs-5">
                        <%= image_tag @deal.showlogo, :style => "max-width: 90px;" %>
                      </div>
                    </div>
                  <% elsif @deal.dealsource.present? %>
                     <div class="sold_by">
                      <div class="col-xs-7 text-left">
                        <strong class="text-muted">Sold By</strong>
                      </div>
                      <div class="col-xs-5">
                        <%= @deal.dealsource %>
                      </div>
                    </div>
                  <% end %>
                  <div class="col-xs-7">
                    <% if @deal.expirationdate %>
                      <p class="small_text text-left margin-top-0 margin-bottom-0">Expires on:&nbsp;&nbsp;<%= @deal.expirationdate.strftime("%A, %b %d") %></p>
                    <% end %>
                  </div>
                </div>
  
                <div class="bottom-price">
                  <div class="row">
                    <div class="text-center col-xs-12 col-sm-4 ">
                      <%= link_to "Book Now", durl, :class => "btn btn-success btn-lg", :target => "_blank" %>
                    </div>
                    <div class="text-center col-xs-12 col-sm-8 margin-top-5">
                      <%= render :partial => "shared/share_bar", :locals => {:deal => @deal} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="container" id="about-business-container">             
                <% if @deal.dealinfo.present? %>
                  <br/>
                  <h3 class="medium_heading strong margin-top-0">About <%= @deal.name %></h3>     
                  <h3 class="medium_text line-height-medium margin-bottom-5"><%= sanitize @deal.dealinfo %></h3>                 
                <% end %>

         
                <% if @deal.disclaimer.present? %>
                  <br/>
                  <h3 class="medium_heading strong margin-top-0">Disclaimer</h3>
                    <h3 class="medium_text line-height-medium margin-bottom-5"><%= (sanitize @deal.disclaimer) %></h3>
                <% end %>

              </div>
            </div>

            <div class="col-xs-12">
              <div data-lat="<%= @deal.lat %>" data-lng="<%= @deal.lon %>" id="map-canvas">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>