.album-container{
  max-width: 960px;
}

.cover-image{
  max-width: $large-image-width;
  padding: 0;
  margin: 0;
  .cover-image-container{
    border: 1px solid $border-color;
    max-width: $large-image-width;
    margin: 0 auto;
  }
}

.album-gallary{
  border: 1px solid $border-color;

}
.comment-box{
  position: relative;
  margin-top: 5px;
  background-color: #efefef;
  padding: 5px;
  .floated-list{
    li:last-child{
      width: 78%;
      p{
        word-wrap: break-word;
      }
    }
  }
  .report{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}
.cover-bottom{
  margin-top: 5px;
  .floated-list{
    li{
      padding: 0px;
      margin-right: 1px;
      margin-bottom: 1px; 
    }
  }
}