// .grid {
//   margin: 0 auto;
//   position: relative;
// }

// .gridItem {
//   background: #e0e0e0;
//   box-sizing: border-box;
//   color: #aaa;
//   font-size: 13px;
//   position: absolute;
//   overflow: hidden;
//   color: white;
//   img{
//     cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
//   }
// }

#browse-page{
  .cover-image{
    margin: 0 auto;
  }
}

.pet_pin{
  .title{
    width: 100%;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }
  &.red{
    img{
      border-bottom: 3px solid rgb(228, 26, 83);
    }
    .title{
      background-color: rgb(228, 26, 83);
    }
  }
  &.pink{
    img{
      border-bottom: 3px solid rgb(228, 26, 83);
    }
    .title{
      background-color: rgb(228, 26, 83);
    }
  }
  &.yellow{
    img{
      border-bottom: 3px solid rgb(255, 219, 0);
    }
    .title{
      background-color: rgb(255, 219, 0);
    }
  }
  &.green{
    img{
      border-bottom: 3px solid rgb(49, 182, 41);
    }
    .title{
      background-color: rgb(49, 182, 41);
    }
  }
  &.blue{
    img{
      border-bottom: 3px solid rgb(8, 55, 243);
    }
    .title{
      background-color: rgb(8, 55, 243);
    }
  }
  &.light-green{
    img{
      border-bottom: 3px solid rgb(0, 195, 175);
    }
    .title{
      background-color: rgb(0, 195, 175);
    }
  }
   &.purple{
    img{
      border-bottom: 3px solid rgb(87, 31, 103);
    }
    .title{
      background-color: rgb(87, 31, 103);
    }
  }
  &.pet_pink{
    img{
      border-bottom: 3px solid rgb(87, 31, 103);
    }
    .title{
      background-color: rgb(87, 31, 103);
    }
  }
}


.comment_box{
  background-color: #ebebec;
  li{
    width: 100%;
    padding: 5px 10px;
    p{
      padding: 0;
      margin: 0;
    }
  }
  textarea{
    background-color:  #fafafa;
  }

}
// #upper-row{
//   overflow-x: hidden;
// }

