// center the logo
.navbar-brand{
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
}
// center the logo

.album-container{
  margin-top: 30px;
}

.navbar-custom {
  border: 0px;
  .my-color-panel-holder{
    position: relative;
  }
  .nav > li > a{
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: white;
    color: $navbar-default-link-color;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: white !important;
  }
  .my-color-panel{
    position: absolute;
    width: 2000%;
    height: 100%;
    right: 0;
    &.social{
      background: #00b294;
    }
    &.video-party{
      background: #2eb3e7;
    }
    &.stories{
      background: #ec008c;
    }
    &.contests{
      background: #6a00ff;
    }
  }
  background-color: white;
  // background-color: #face0e;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  background-color: $black-back;
  min-height: 40px;
  .container{

  }
  input{
    background: transparent;
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    font-size: 16px;
    color: white;
    border: 0;
    border-bottom: 1px solid $border-color;
  }
  .form-control:focus{
    @include box-shadow(none);
  }
  .navbar-form{
    margin-top: 5px;
    margin-bottom: 4px;
  }
}

.top-gray{
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  background: #f4f4f2;
  margin-bottom: 35px;
}

// .divider{
//   height: 1px;
//   border-top: 2px solid white;
//   width: 100%;
//   position: relative;
//   &:before{
//     width: 100%;
//     height: 1px;
//     content: " ";
//     position: absolute;
//     top: -2px;
//     left: 0;
//     background: $border-color;
//   }
//   &.with-margin-30{
//     margin-top: 30px;
//     margin-bottom: 30px;
//   }
//   &.with-margin{
//     margin-top: 20px;
//     margin-bottom: 20px;
//   }
// }

.btn-gray{
  border-color: #adadad;
  color: #8e8e8e;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  @include box-shadow(inset 0px 1px 0px 0px #fff);
  background: rgb(242,242,242);
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  &.active{
    background: #b5b5b5;
    border: 1px #979797 solid;
    color: white;
  }
  &.tag-btn{
    padding: 2px 15px;
    font-size: 12px;

  }
}



.btn-yellow{
  background: rgb(252,189,54);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(252,189,54,1) 0%, rgba(248,184,49,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,189,54,1)), color-stop(100%,rgba(248,184,49,1)));
  background: -webkit-linear-gradient(top, rgba(252,189,54,1) 0%,rgba(248,184,49,1) 100%);
  background: -o-linear-gradient(top, rgba(252,189,54,1) 0%,rgba(248,184,49,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,189,54,1) 0%,rgba(248,184,49,1) 100%);
  background: linear-gradient(to bottom, rgba(252,189,54,1) 0%,rgba(248,184,49,1) 100%);
  color: #895400;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.28);
  &:active{
    color: #895400;
    opacity: 0.8;
  }
  &:hover{
    color: #895400;
    opacity: 0.8;
  }
}

.btn-custom{
  white-space: normal;
  height: auto;
  line-height: normal;
  padding: 4px 4px 3px;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
}

.btn-blue{
  background: rgb(69,234,213);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(69,234,213,1) 0%, rgba(56,221,201,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,234,213,1)), color-stop(100%,rgba(56,221,201,1)));
  background: -webkit-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
  background: -o-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
  background: -ms-linear-gradient(top, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
  background: linear-gradient(to bottom, rgba(69,234,213,1) 0%,rgba(56,221,201,1) 100%);
  color: #007365;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.42);
  &:hover{
    color: #007365;
    opacity: 0.8;
  }
  &:active{
    color: #007365;
    opacity: 0.8;
  }
}

.follow-black{
  background-color: #313131;
  &:hover{
    opacity: 0.85;
    color: white;
  }
  color: white;
  padding: 4px 10px;

}

.btn-pink{
  background: rgb(227,47,182);
  background: -moz-linear-gradient(top, rgba(227,47,182,1) 0%, rgba(217,36,172,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,47,182,1)), color-stop(100%,rgba(217,36,172,1)));
  background: -webkit-linear-gradient(top, rgba(227,47,182,1) 0%,rgba(217,36,172,1) 100%);
  background: -o-linear-gradient(top, rgba(227,47,182,1) 0%,rgba(217,36,172,1) 100%);
  background: -ms-linear-gradient(top, rgba(227,47,182,1) 0%,rgba(217,36,172,1) 100%);
  background: linear-gradient(to bottom, rgba(227,47,182,1) 0%,rgba(217,36,172,1) 100%);
  color: #870b68;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.17);
  &:hover{
    color: #870b68;
    opacity: 0.8;
  }
  &:active{
    color: #870b68;
    opacity: 0.8;
  }
}



.navbar-inverse{
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
}


.alpha60 {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


.border-right{
  border-right: 1px solid #cccccc;
}

// @media (min-width: 768px){
//   .navbar-nav.centered{
//       margin: 0 auto;
//       display: table;
//       table-layout: fixed;
//       float: none;
//   }
// } 

.opque-layer{
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  left: 0px; 
  bottom: 0px; 
  margin: 0px; 
  padding: 0px;
  max-width: none; 
  max-height: none;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  &.up{
    z-index: 1004;
  }
  &.down{
    z-index: -10;
  }
}

.black-panel{
  background-color: $black-back;
  color: white;
  border-top: 2px solid white;
  padding: 15px;
}

#top-social-bar{
  background: white;
}

// center the logo in navbar

.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
// center the logo in navbar

// Add icon to the input box

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 8px 5px;
    pointer-events: none;
    color: white;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

// Add icon to the input box ends
img.mini{
  width: 32px !important;
}
img.thumb{
  width: 50px !important;
}

.my-cover-image{
  position: relative;
  .mask-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.25;
    display: none;
  }
}

.fullscreen{
  .modal-dialog{
    width: 100%;
    height: 100%;
    padding: 0px;
    .modal-content{
      @include border-top-radius(0px);
      @include border-bottom-radius(0px);
      background: transparent;
    }
    .modal-header{
      border: 0;
    }
    .cover-image{
      margin: 0 auto;
    }
  }
}
.modal-backdrop.in{
  opacity: 0.95;
  filter: alpha(opacity=95);
  background: white;
}