<div class="container main_index_container">
  <div class="row">
    <div class="col-xs-8">
      <h2>Change your password</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, :autofocus => true, :class => "form-control", :placeholder => "Password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
        </div>

        <div class="form-group">
          <%= f.submit "Change my password", :class => "btn btn-primary" %>
           <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
