<% content_for :title, "LOGIN on #{SITENAME}" %>
<% content_for :description, "LOGIN now to get access to To Businesses in US #{SITENAME}" %>
<div class="container main_index_container">
  <div class="row">
    <div class="col-xs-8">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :role => "form") do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
          <span class="text-muted">or</span><%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
