/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *
 */
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
// $font-family-base: 'Open Sans', sans-serif;
$heading_color: #767676;
$link-color: #06c;
$link-hover-color: #0B5FB3;
$font-size-base: 14px;
$text-color: #2d2d2a;
$navbar-default-bg: #ffffff;
$navbar-height: 40px;
$btn-default-color: #4D4D49;
@import "twitter/bootstrap"; /* Change this to @import "twitter/bootstrap"; */
@import "typography_main";
@import "railstrap";
@import "deals";


 
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.text-muted{
  color: $heading_color;
}
.white{
  color: white;
}

.margin-bottom-0{
  margin-bottom: 0px;
}

.margin-top-5{
  margin-top: 5px;
}
.margin-top-0{
  margin-top: 0px;
}

.margin-left-0{
  margin-left: 0px;
}

.margin-right-0{
  margin-right: 0px;
}

@media (min-width: 1050px){
  .padding-left-0{
    padding-left: 0px;
  }

  .padding-right-0{
    padding-right: 0px;
  }
}

.strong{
  font-weight: bold;
}

.line-height-medium{
  line-height: 22px;
}

#fl_banner{
  position: absolute;
  position: a;
  top: 0;
  right: 0;
  z-index: 1000;
}