// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$my-border-blue: #164269;
$my-text-blue: #2673b0;
$d-orange: #f26739;
#map_canvas_container{
  margin-bottom: 20px;
  margin-top: 0px;
  width: 100%;
  border: 1px;
  margin-bottom: 30px;
}

#map_canvas{
  width: 100%;
  height: 0px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  border: 1px solid #eeeeee;
}

.my-filters{
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
  a{
    font-weight: bold;
  }
  #topcap{
    padding-bottom: 20px;
  }
}

.list-inline > li.deal_blk{
  padding: 0px;
  vertical-align: top;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 0px;
}

.lazy {
  display: none;
}

.deal_blk{
  .bottom-info{

  }
  .tile-links{
    li{
      padding: 0px;
    }
  }
  .sold_by{
    img{
      max-width: 70px;
      max-height: 20px;
    }
    img.thin_logo{
      width: 55px;
      max-height: 24px;
    }
  }
  .deal_info{
    width: 232px;
    border: 1px solid #cccccc;
    @include border-bottom-radius(5px);
    padding: 5px;
    .small_heading{
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
  }
  .image{
    width: 232px;
    min-height: 138px;
    @include border-top-radius(5px);
    position: relative;
    border: 1px solid #cccccc;
    img.deal_image{
      @include border-top-radius(5px);
      width: 230px;
      max-height: 193px;
    }

    .layer{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0;
      text-align: center;
      display: none;
    }
  }

  &:hover{
    img.deal_image{
      opacity: 0.3;
    }
    .layer{
      display: block;
    }
  }

  h3{
    text-align: left;
    margin-top: 0;
  }
  .bottom-price{
    text-align: left;
    padding-left: 0px;
  }

}
#deals_container{
  .off-tag{
    background: image-url("railstrap/sale_tag.png") top left no-repeat;
    background-size: 87px 33px;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
  }

  #deals_list{
    text-align: center;
  }
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;


  .share_bar{
    position: absolute;
    bottom: 4px;
    width: 100%;
  }
  .shared-item{
    width: 33px;
    height: 33px;
    display: block;
    text-indent: -888888px;
    &.twitter{
      background: image-url("railstrap/social/twitter.png") top left no-repeat;
    }
    &.email{
      background: image-url("railstrap/social/email.png") top left no-repeat;
    }
    &.pin{
      background: image-url("railstrap/social/pin.png") top left no-repeat;
    }
    &.facebook{
      background: image-url("railstrap/social/facebook.png") top left no-repeat;
    }
    &:hover{
      background-position: bottom left;
    }
  }
}


#deals_container.main_page_deal{
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  .share_bar{ 
    position: static;
  }
  
  padding: 0px;
  .bottom-price{
    background: transparent;
    width: 100%;
    .off-tag{
      padding: 5px 10px !important;
      text-align: left !important;
    }
  }
}
#about-business-container{
  border-top: 1px solid #cccccc;
  .tab-content{
    margin-top: 20px
  }
}

#map-canvas{
  width: 100%;
  height: 400px;
}

.reviews-container{
  img.img-responsive.img-thumbnail{
    width: 90px;
    margin-right: 20px;
  }
  .yelp_reviews{
    .review_line{
      margin-bottom: 20px;
    }
    .review-text{
      margin-left: 20px;
    }
  }
}

.citysearch, .google{
  background: image-url("google_citysearch_stars@2x.png") no-repeat;
  width: 84px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 16px;
  margin-bottom: -4px;
}

.google{
  background: image-url("google_citysearch_stars@2x.png") no-repeat;
}

.small_stars{
  display: inline;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  div{
    display: inline-block;
  }
}

.citysearch{
  div{
    display: inline-block;
  }
  &.stars_1{
    background-position: 0px 0px;
  }
  &.stars_2{
    background-position: 0px 0px;
  }
  &.stars_3{
    background-position: 0px -18px;
  }
  &.stars_4{
    background-position: 0px -38px;
  }
  &.stars_5{
    background-position: 0px -57px;
  }
  &.stars_6{
    background-position: 0px -76px;
  }
  &.stars_7{
    background-position: 0px -96px;
  }
  &.stars_8{
    background-position: 0px -110px;
  }
  &.stars_9{
    background-position: 0px -128px;
  }
  &.stars_10{
    background-position: 0px -146px; 
  }
}


.google{
  div{
    display: inline-block;
  }
  &.stars_1_0{
    background-position: 0px 0px;
  }
  &.stars_1_0{
    background-position: 0px 0px;
  }
  &.stars_1_5{
    background-position: 0px -18px;
  }
  &.stars_2_0{
    background-position: 0px -38px;
  }
  &.stars_2_5{
    background-position: 0px -57px;
  }
  &.stars_3_0{
    background-position: 0px -76px;
  }
  &.stars_3_5{
    background-position: 0px -96px;
  }
  &.stars_4_0{
    background-position: 0px -115px;
  }
  &.stars_4_5{
    background-position: 0px -136px;
  }
  &.stars_5_0{
    background-position: 0px -154px; 
  }
}


.busi-info-section{
  &.with_border_bottom{
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
