$dark-link: #555555;
$big-font: 50px;
$regular-weight: 300;
$my-blue: #164269;
$my-white: #ffffff;
$navbar-color: #164269;
$d-orange: #f26739;


.main_index_container{
  max-width: 970px;
}

#index-page{
  #fake-map{
    max-height: 68px;
  }
  .breadcrumb{
    margin: 0;
    padding-top: 0;
    a{
      color: #777777;
      &:hover{
        color: #333333;
      }
      &.active{
        color: #333333;
      }
    }
    li:last-child{
      a{
        color: #333333;
      }
    }
  }
}
.dotted_background{
  background: image-url("railstrap/main_bg.png")
}
.white_container{
  background-color: #ffffff;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
}
.navbar-custom {
    background-color: white;
    // background-color: #face0e;
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    border: 0;
    margin-bottom: 0px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: #164269;
}
.navbar-top{
  // margin-bottom: 0px;
  // background: #181c1d;
  // @include border-top-radius(0px);
  // @include border-bottom-radius(0px);
  // input{
  //   @include box-shadow(none);
  //   border-color: #161615;
  //   background-color: #232321;
  //   &:hover{
  //     border-color: #161615;
  //     @include box-shadow(none);
  //     background-color: #161615;
  //   }
  //   &:focus{
  //     border-color: #161615;
  //     @include box-shadow(none);
  //     background-color: #161615;
  //   }
  // }
  #header-form{
    margin-top: 19px;
  }
  #logo{
    padding-left: 15px;
  }
  #login-status{
    margin-top: 19px;
  }
  &#myframe{
    #logo{
      height: 56px;
    }
    #header-form{
    margin-top: 10px;
    }
    #logo{
      padding-left: 15px;
      height: 50px;
    }
    #login-status{
      margin-top: 10px;
    }
    &.navbar{
      min-height: 25px;
    }
  }
}
.navbar-custom .navbar-nav > li{
  margin-left: 20px;
  margin-top: 25px;
}
.navbar-custom .navbar-nav > li > a {
  padding: 8px;
  color: white;
}
.navbar-inverse {
  min-height: 30px;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  background-color: $navbar-color;
  border-color: $navbar-color;
  margin: 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: $navbar-color;
  border-color: #123554 #123554 transparent #1a4f7e;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active {
  background-color: $navbar-color;
  color: white;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
  padding: 4px;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: #123554 #123554 transparent #1a4f7e;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  &:hover{
    border-bottom-color: $d-orange;
    background-color: #1a4f7e;
  }
  &.active{
    border-bottom-color: $d-orange;
    background-color: #1a4f7e;
  }

}


#main-navbar{
  .dropdown-menu{
    min-width: 445px;
  }
  .list-inline > li{
    width: 220px;
  }
  .nav{
    li{
      a{
        &:hover{
          color: #555555;
          background-color: #eeeeee;
        }
      }
    }
  }
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #1a4f7e;
}

.navbar-inverse .navbar-nav > .open > a{
  border-bottom-color: $d-orange;
  background-color: #1a4f7e;
  &:hover{
    border-bottom-color: $d-orange;
    background-color: #1a4f7e;
  }
  &:focus{
    border-bottom-color: $d-orange;
    background-color: #1a4f7e;
  }
}

#main-navbar{
  .navbar-collapse{
    padding-left: 0px
  }
}

@media (max-width: 768px){
  #main-navbar{
    .navbar-collapse{
      padding-left: 15px;
    }
  }
  footer, .modal-footer{
    a{
      font-size: 16px;
    }
  }
  #logo{
    height: 50px;
  }
  #login-status{
    margin-top: 10px !important;
  }
}

@media (min-width: 768px){
  .navbar-nav.centered{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
  }
}

.btn-primary{
  border-color: #164269;
  background-color: #164269;
  @include gradient-directional(#1a4f7e,#133a5c, top);
  &:hover{
    background-color: #164269;
    @include gradient-directional(#194a76,#133a5c, top);
  }
  &:focus{
    background-color: #164269;
    @include gradient-directional(#194a76,#133a5c, top);
    
  }
}

.btn-zomato-yellow{
  border-color: #F1AF2C;
  background-color: #FCB72E;
  color: #4D4D49;
  @include gradient-directional(#FCB72E,#F0A614, top);
  &:hover{
    color: #4D4D49;
    border-color: #FCB72E;
    background-color: #F0A614;
    @include gradient-directional(#F0A614,#F0A614, top);
  }
  &:focus{
    color: #4D4D49;
    border-color: #FCB72E;
    background-color: #F0A614;
    @include gradient-directional(#F0A614, #F0A614, top);
    
  }
}

.btn-zomato-gray{
  border-color: #cbcbc8;
  background-color: #9a9a93;
  color: #4D4D49;
  @include gradient-directional(#e4e4e2,#e4e4e2, top);
  &:hover{
    background-color: #cbcbc8;
    @include gradient-directional(#cbcbc8,#cbcbc8, top);
  }
  &:focus{
    background-color: #cbcbc8;
    @include gradient-directional(#cbcbc8,#cbcbc8, top);
    
  }
}

.btn-zomato-black{
  border-color: #161615;
  background-color: #232321;
  color: white;
  @include gradient-directional(#232321,#232321, top);
  &:hover{
    color: white;
    background-color: #161615;
    @include gradient-directional(#161615, #161615, top);
  }
  &:focus{
    color: white;
    background-color: #161615;
    @include gradient-directional(#161615, #161615, top);
    
  }
  .caret{
    border-top: 4px solid white;
  }
}

.with_border{
  border-top: 1px solid #eeeeee;
  border-collapse: separat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.with_border_bottom{
  border-bottom: 1px solid #eeeeee;
  border-collapse: separat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.with_shadow{
  @include box-shadow(0 0 10px rgba(0,0,0,0.3));
}

.t_error{
  color: #b94a48;
  padding-top: 10px;
  padding-bottom: 5px;
}

#header-form{
  input{
    width: 200px;
  }
  input.search_text{
    width: 200px;
  }
}

.search_text{
  padding: 5px 5px 5px 25px;
  font-size: 12px;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-image: image-url("railstrap/search_icon.png");
}

.btn-green{
  border: 0;
  text-shadow: 0 1px 1px #87a133;
  background: image-url("railstrap/green_butt.png") top left no-repeat;
  width: 210px;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
  background-size: 210px 88px;
  &:hover{
    background: image-url("railstrap/green_butt.png") bottom left no-repeat;
    background-size: 210px 88px;
  }
}

.fetures-splash{
  min-height: 300px;
  padding-top: 30px;
  background-color: #f0eeef;
  h2{
    text-align: center;
  }
  margin-bottom: -30px;
}

#features-list{
  .bookn{

  }
  .searchm{

  }
  .browse{

  }
  text-align: center;
  .well{
    padding-top: 0;
    min-height: 127px;
    text-align: center;
  }
}

footer{
  margin-top: 30px;
  width: 100%;
  .myname{
    position: absolute;
    left: 0;
    top:0px;
  }
  // text-shadow: 0 1px 3px #222;
  // background-color: #34495e;
  min-height: 56px;
  .simple-nav{
    padding-top: 10px;
  }
  .navbar-default{
    // background-color: #34495e;
    border-top:  1px solid white;
    padding-top: 10px;
  }
  h3{
    text-align: center;
  }
  .upper{
    text-align: center;
  }
  .bottom{
    text-align: center;
  }
  color: white;
  a{
    color: white;
    &:hover, &:active{
      color: wheat;
    }
  }
  .head_line{
    color: #7b7b7b;
  }
  
}

.my-services{
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  width: 100%;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .container{
    height: 300px;
  }
  .cat{
    padding: 0;
  }
}

.lower_tint{
  @include box-shadow(rgba(0,0,0,.2) 3px 5px 5px);
}

.hometint{
  position: relative;
  .info{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    .detail{
      width: 100%;
      color: white;
      position: absolute;
      bottom: 0;
      text-align: center;
      h3{
        color: white;
      }
    }
  }
}

.btn.special-padd{
  padding: 6px 10px;
}

.bluring{
    background: transparent image-url("http://sitediscount.ru/verso/assets/img/pixel.png") top left repeat;
  }

/*============================= STAR RATING WIDGET ==================================*/
.my-small-rating{
  margin-bottom: 5px;
  a{
    margin-top: 4px;
    font-size: 13px;
    text-decoration: none;
  }
  li{
    padding-left: 0px;
    padding-right: 3px;
  }
  .count{
    margin-left: 3px;
    margin-right: 3px;
  }
  #city_rating_image{
    height: 23px;
  }
  .small-star{
    float: left;
    background: transparent image-url("rating.png") no-repeat;
    height: 18px;
    margin-bottom: 10px;
    text-align: right;
    margin-bottom: 0px;
    font-size: 13px;
    width: 88px;
    &.small-star-0-0, &.small-star-0{
      background-position: 0px -376px;
    }
    &.small-star-0-5{
      background-position: 0px -354px;
    }
    &.small-star-1-0, &.small-star-1{
      background-position: 0px -332px;
    }
    &.small-star-1-5{
      background-position: 0px -310px;
    }
    &.small-star-2-0, &.small-star-2{
      background-position: 0px -288px;
    }
    &.small-star-2-5{
      background-position: 0px -266px;
    }
    &.small-star-3-0, &.small-star-3{
      background-position: 0px -244px;
    }
    &.small-star-3-5{
      background-position: 0px -221px;
    }
    &.small-star-4-0, &.small-star-4{
      background-position: 0px -199px;
    }
    &.small-star-4-5{
      background-position: 0px -177px;
    }
    &.small-star-5-0,&.small-star-5{
      background-position: 0px -156px;
    }
  }
  .small-star-yellow{
    float: left;
    background: transparent image-url("star_rating_sprites.gif") no-repeat;
    height: 18px;
    margin-bottom: 10px;
    text-align: right;
    margin-bottom: 0px;
    font-size: 13px;
    width: 100px;
    &.small-star-0-0, &.small-star-0{
      background-position: 0px -376px;
    }
    &.small-star-0-5{
      background-position: 0px -14px;
    }
    &.small-star-1-0, &.small-star-1{
      background-position: 0px -50px;
    }
    &.small-star-1-5{
      background-position: 0px -86px;
    }
    &.small-star-2-0, &.small-star-2{
      background-position: 0px -122px;
    }
    &.small-star-2-5{
      background-position: 0px -159px;
    }
    &.small-star-3-0, &.small-star-3{
      background-position: 0px -195px;
    }
    &.small-star-3-5{
      background-position: 0px -231px;
    }
    &.small-star-4-0, &.small-star-4{
      background-position: 0px -267px;
    }
    &.small-star-4-5{
      background-position: 0px -304px;
    }
    &.small-star-5-0,&.small-star-5{
      background-position: 0px -339px;
    }
      
  }
  .my_review_count{
    padding-top: 1px;
    text-align: left;
  }
  #yelp_rating_image{
    width: 41px;
    margin-top: -5px;
  }
}
.splash-top{
  position: relative;
  border-bottom: 3px solid $my-blue;
  width: 100%;
  background-color: #f26739;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: transparent image-url("railstrap/blured.jpg") no-repeat;
  .bluring{
    background: transparent image-url("http://sitediscount.ru/verso/assets/img/pixel.png") top left repeat;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
  }
  .alpha60{
    margin-bottom: 20px;
  }
  background-size: cover;
  .container{
    text-align: left;
    height: 380px;
  }
  .splash{
    padding: 40px 0px;
    background: none; 
    text-align: center;
  }
  h1{
    font-weight: $regular-weight;
    display: inline-block;
    margin: 0 0 0px 0;
    padding: 16px;
    color: white;
    line-height: 1.1em
  }
  .lead{
    padding: 0px;
    padding-bottom: 16px;
    display: inline-block;
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    font-size: 18px;
    font-weight: 300;
  }
}

#zip_collector, .my-modal{
  .modal-content{
    border: 0;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }
  .modal-footer, .modal-header{
    font-size: 12px;
    text-align: center;
  }
  .modal-footer{
    @include box-shadow(inset 0 1px 1px #ddd);
    background-color: #ddd;
    color: #888;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#ddd));
    background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -o-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
    background-image: linear-gradient(top,#eee 0,#ddd 100%);
    @include border-bottom-radius(5px);
    border-top: 1px solid #fff;
  }
  .modal-header{
    @include border-top-radius(5px);
    border-bottom: 1px solid #fff;
    background-color: #164269;
    border-color: #164269;
    color: white;
  }
}


// Index Page Srtyle

.index-page-container{
  max-width: 960px;
}

.business-index{
  .thin-image{
    margin-right: 10px;
    min-width: 149px;
    img{
      max-width: 149px;
    }
  }
}

#top-gray{
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#real-myframe{
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 900px;
  overflow: scroll;
}
// Index Page Style Ends

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 260px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 15px;
  text-align: left;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-cursor{
  background-color: #164269;
  color: white;
}

.tt-suggestion{
  p{
    font-size: 18px;
  }
}

.splash{
  
}

#mobile_top_header{
  .twitter-typeahead{
    width: 100%;
  }
}