$navbar-height: 45px;
$text-color: #3b3b3b;
$font-size-base: 12px;
$font-size-h3: ceil(($font-size-base * 1.2));
$font-size-h2: floor(($font-size-base * 1.7));
$font-size-h1: floor(($font-size-base * 1.9));
$headings-font-weight: 100;
$headings-color: #3b3b3b;
$navbar-default-link-color: #1a1a1a;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-bg: #313131;
$navbar-default-link-hover-bg: #313131;
$navbar-default-link-active-color: white;
$navbar-default-bg: white;
$navbar-margin-bottom: 0;
$dropdown-link-active-bg: #313131;
$dropdown-link-active-color: white;
$dropdown-link-hover-bg: #313131;
$dropdown-link-hover-color: white;
$link-color: #8c8c8c; 
$navbar-color: #313131;
$d-orange: #f26739;
$border-color: #cecece;
$large-image-width: 443px;
$black-back: #1a1a1a;
$navbar-inverse-bg: white;
$btn-primary-bg: #313131;
@import "twitter/bootstrap"; /* Change this to @import "twitter/bootstrap"; */
@import "social/common";
@import "typography_main";
@import "social/browse";
@import "social/album";