@import "twitter/bootstrap/mixins";
$dark-link: #555555;
$big-font: 50px;
$regular-weight: 300;
$my-blue: #164269;
$my-white: #ffffff;
$navbar-color: #164269;
$d-orange: #f26739;

.small_heading{
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.floated-list{
  &:before, &:after {
    content: " ";
  /* 1 */
    display: table;
  }
  &:after {
    clear: both; 
  }
  li:first-child{
    float: left;
  }
}

// Classes
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.dblock{
  display: block !important;
}

.diblock{
  display: inline-block;
}

.margin-0{
  margin: 0;
}
.dis-inline{
  display: inline;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-bottom-0{
  margin-bottom: 0px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-0{
  margin-top: 0px;
}
a {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.divider-blk{
  height: 20px;
}

.gray-back{
  background-color: #f4f4f2;
}

.dropdown-submenu > a:after{
  float: left;
  margin-right: 65px;
  border-left-color: transparent;
  border-right-color: #cccccc; 
  border-width: 5px 5px 5px 0px;
  
}
.bold{
  font-weight: 700 !important;
}
.alpha60 {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.dropdown-submenu > .dropdown-menu{
  left: -443px;
  max-width: 450px;
}
.dropdown-submenu > .dropdown-menu:after{
  display: block;
  clear: both;
}

.dropdown-submenu > a{
  &:hover{
    .dropdown-submenu > a:after{
    border-right-color: white;
    }
  }
}
.btn, input, .form-control, .search_text{
  
}
.btn-success{
  &.hovered{
    background-color: #47a447;
    border-color: #398439;
    z-index: 2;
  }
}
.strong{
  font-weight: bold;
}
.orange_back{
  background-color: $d-orange;
}
.large_heading{
  font-size: 28px;
}
.medium_heading{
  font-size: 24px
}

.medium_text{
  font-size: 16px;
}
.upper-small-text{
  font-size: 14px !important;
}
.small_text{
  font-size: 12px;
}
.blue_text{
  color: $my-blue;
}

.thumbnail.with-caption {
  display: inline-block;
  background: #f5f5f5;
}
.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}
.navbar{
  z-index: 999;
}

header{
  .navbar{
    z-index: 996;
  }
}