<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag %>
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:description) %>">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Disable zooming the webpage -->
  <!-- <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <% if @canonical %>
    <link rel="canonical" href="<%= @canonical %>">
  <% end %>
  <%= yield :head %>
</head>
<body>
<%= render "shared/header" %>
<div class="wrap" id="top_wrapper">
<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div  class="margin-bottom-0 alert <%= flash_class(level) %>">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>
<%= yield %>
</div>
<%= render "shared/footer" %>
<%#= render "shared/zip_collector" %>
<%= render :partial => 'layouts/ga' if Rails.env.production?%>
<!--<script type="text/javascript">
// if($(window).width() > 1023){
// var _urq = _urq || [];
// _urq.push(['initSite', '6a0c81be-e1b8-4de8-9ee8-3024dc8c71af']);
// (function() {
// var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
// ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
// var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
// })();
// }
</script> -->
<%= javascript_include_tag "application" %>
<%= yield :map %>
<%= yield :js %>
<% if @login_modal %>
<%= render :partial => "shared/login_modal" %>
<script type="text/javascript">
  $(function(){
    $("#login_modal").modal("show")
  });
</script>
<% end %>
</body>
</html>


