<div class="container main_index_container">
    <div class="row">
      <div class="col-xs-8">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :role => "form") do |f| %>
  <%= devise_error_messages! %>

   <div class="form-group" >
      <%= f.label :user_name, "Name" %>
      <%= f.text_field :user_name, :autofocus => true, :class => "form-control required", :placeholder => "Name" %>
    </div>

  <div class="form-group"><%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, :class => "form-control required email", :placeholder => "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-group">
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :autocomplete => "off", :class => "form-control required", :placeholder => "Password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control required", :placeholder => "Confirm Password" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, :class => "form-control required", :placeholder => "Password" %>
  </div>

  <div><%= f.submit "Update" , :class => "btn btn-primary" %> <span class="text-muted">or</span> <%= link_to "Back", :back %></div>
<% end %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
 -->
    </div>
  </div>
</div>