<% content_for :title, "Sign Up on #{SITENAME}" %>
<% content_for :description, "Sign up now to get access to To Businesses in US #{SITENAME}" %>
<div class="container main_index_container">
  <div class="row">
    <div class="col-xs-8">
      <h2>SIGN UP</h2>

      <%= form_for(resource, :as => resource_name, :role => "form" , :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <div class="form-group" >
            <%= f.label :user_name, "Name" %>
            <%= f.text_field :user_name, :autofocus => true, :class => "form-control required", :placeholder => "Name" %>
          </div>

          <div class="form-group" >
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control required email", :placeholder => "Email" %>
          </div>
          

          <div class="form-group" >
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control required", :placeholder => "Password" %>
          </div>

          <div class="form-group" >
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control required", :placeholder => "Confirm Password" %>
          </div>

          <div class="form-group" >
            <%= f.label :avatar, "Profile Image" %>
            <%= f.file_field :avatar %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
            <span class="text-muted">or</span><%= render "users/shared/links" %>
          </div>
      <% end %>
    </div>
     
          
  </div>
</div>
